/* CSS Styling for the drawer widget.
*/
.drawer-wrapper {
    margin-bottom: 1em;
}

.drawer {
    border-bottom: 1px solid #ccc;
}

/* header */
.drawer h2 {
    border-top: 1px solid #ccc;
    font-weight: normal;
    margin-bottom: 0;
    padding: .2em 0;
    zoom: 1;
}

/* default state */
.drawer h2 a {
    background: transparent url(../img/sprite_icon_widget.png) 0 4px no-repeat;
    display: block;
    padding-left: 20px;
    text-decoration: none;
}

/* ie7 hack */
*:first-child+html .drawer h2 a {
    display: inline-block;
}

/* expanded state */
.drawer h2.expand {
    background-color: #0B4A67;
}

.drawer h2.expand a {
    background-position: 0 -96px;
    color: #fff;
}

/* hover state */
.drawer h2:hover,.drawer h2:active {
    background-color: #F0FAFF;
    cursor: pointer;
}

.drawer h2.expand:hover,.drawer h2.expand:active {
    background: #0B4A67;
}

/* content background */
.drawer > div {
    padding: 1em 2em;
}

.drawer > div.cols_wrapper {
    padding: 1em 0;
}

/* toggle links */
.drawer-toggle {
    font-size: 90%;
    padding: .5em 0;
}

.drawer-toggle a {
    color: #666;
}

.drawer-toggle a:hover,.drawer-toggle a:active {
    color: #016691;
}

.drawer-toggle a {
    background: transparent url(../img/sprite_icon_widget.png) 0 -217px
    no-repeat;
    padding-left: 16px;
}

.drawer-toggle a.expand {
    background-position: 0 -201px;
}

/* ie7 hack */
*:first-child+html .drawer-toggle a {
    display: inline-block;
}

/**********************************************************************
 * CSS Styling for the slide show
 */

/* Slideshow */
.tdr_slideshow {
    z-index: 9;
}

.tdr_slide {
    font-size: 90%;
    line-height: 17px;
}

.tdr_slide a {
    text-decoration: none;
}

.tdr_slide a:hover {
    text-decoration: underline;
}

.tdr_slideshow_nav {
    position: relative;
    top: -17px;
    right: 20px;
    height: 10px;
    text-align: right;
    float: right;
    z-index: 10;
}

.tdr_slideshow_nav a {
    color: #333;
    display: block;
    height: 8px;
    width: 20px;
    float: left;
    font-size: 0;
    border: 1px solid #FFB900;
    background: #333;
    text-decoration: none;
    margin-left: 5px;
    text-indent: -9999px;
}

.tdr_slideshow_nav a:hover {
    background: #967D18;
    color: #967D18;
}

.tdr_slideshow_nav a.activeSlide {
    background: #967D18;
    color: #967D18;
}

.tdr_slideshow_control {
    top: -26px;
    right: 7px;
    text-indent: -9999px;
    height: 8px;
    width: 8px;
    cursor: pointer;
    float: right;
    position: relative;
    z-index: 11;
    clear: both;
}

.playing {
    background: url(../img/sprite_icon_widget.png) 0 -249px no-repeat;
}

.paused {
    background: url(../img/sprite_icon_widget.png) 0 -233px no-repeat;
}

/* ie7 hack */
*:first-child+html .playing,
*:first-child+html .paused {
    display: inline-block;
}/**********************************************************************
 * CSS Styling for the toggler
 */
.sf_all_expanded,
.sf_all_collapsed,
.sf_one_expanded,
.sf_one_collapsed {
    padding-left: 15px;
    margin-top: 5px;
}

/* ie7 hack */
*:first-child+html .sf_all_expanded,
*:first-child+html .sf_all_collapsed,
*:first-child+html .sf_one_expanded,
*:first-child+html .sf_one_collapsed {
    display: inline-block;
}

.sf_all_collapsed,
.sf_one_collapsed {
    background: transparent url(../img/sprite_icon_widget.png) 0 -275px no-repeat;
}

.sf_all_expanded,
.sf_one_expanded {
    background: transparent url(../img/sprite_icon_widget.png) 0 -259px no-repeat;
}

dl.itag_simple_faq dt,
p.sf_all_expanded,
p.sf_all_collapsed {
    cursor: pointer;
}