.main-content {

	.page-header {
		margin-bottom: 10px;
	}

	.social-list {
		list-style: none;
		padding-left: 0;
	}

	#docs-header {
		padding-top: 0;
	}

	#headers {
		margin-top: 20px;
	}

	#type {
		margin-top: 20px;
	}

  @media screen and (min-width: $break-desktop + px) {

  }
}

#tdr_2_col_nav .doc-nav {
	.nav > li > a {
		padding-top: 5px;
	}

  @media screen and (min-width: $break-desktop + px) {
	  .bs-docs-sidebar {
		  padding-left: 0;
	  }
  }
}



