.main-content {


  @media screen and (min-width: $break-desktop + px) {
    float: left;
    width: 75%;
  }
}

.doc-nav {

  @media screen and (min-width: $break-desktop + px) {
      float: right;
      width: 25%;
  }
}

.bs-docs-container {
  max-width: 1200px;
  margin: 0 auto;
}

#docs-header {
  font-size: 400%;
  color: #000;
  padding-top: 0;
}

.page-header {
  font-size: 40px;
}

.row {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }

}

