/********************* VARIABLES & MIXINS */
/* BREAKPOINTS */
/* COLORS */
/* LAYOUT VALUES */
/* FONTS */
/* MIXINS */
/********************* BASE */
/*
 * Consolidating image references
 * to a singular location
 *
 * minimizes number of calls sent to reference images
 */
.title-logo,
.layout-footer > .layout-container {
  background: url(img/sprite_base.png) no-repeat transparent; }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    .title-logo,
    .layout-footer > .layout-container {
      background-image: url(img/sprite_base2x.png);
      background-size: 500px 120px; } }

.social-list li {
  background: url(img/sprite_social.png) no-repeat transparent; }

.msg h4,
.icon {
  background: url(img/sprite_icon.png) no-repeat transparent; }

.drawer-toggle a, .drawer h2 a,
.flex-pauseplay a {
  background: url(img/sprite_icon_widget.png) no-repeat transparent; }

div.loading {
  background: url(img/icon_loading.gif) no-repeat transparent; }

span.loading {
  background: url(img/icon_loading_inline.gif) no-repeat transparent; }

.icon.asterisk,
.field .required,
.field_top .required,
.field_left .required {
  background: url(img/asterisk.png) no-repeat transparent; }

/* ***********************************************
 * Layout
 *
 * Components:
 *  - base layout
 *  - header
 *  - footer
 *  - nav
 *  - more(?)
 *
 * ***************/
/* ***********************************************
 * BASE
 * ***************/
html, body {
  background: #fff;
  overflow-x: hidden;
  color: #333;
  font: normal normal normal 16px/1.2 proxima-nova, Helvetica, Arial, sans-serif; }

/* container will have media queries for sizing*/
.layout-container {
  max-width: 1200px;
  width: 98%;
  margin: auto;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .layout-container {
      width: 94%; } }
  @media only screen and (max-width: 1200px) {
    .layout-container {
      max-width: 960px; } }

.layout-navbar .layout-container {
  overflow: visible; }

.layout-header {
  /* to incorporate new navbar button*/
  display: block;
  width: 100%;
  background-color: #2b92b9;
  /*
   @media only screen and (min-width: $desktop-small + 1) {
     height: 78px;
   }*/ }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .layout-header {
      height: 105px; } }

.layout-header, .isLoggedIn {
  height: 100%; }

.layout-login {
  width: 100%;
  background: #0B4A67;
  overflow: hidden; }

.login-content {
  color: #fff;
  font-size: 85%;
  padding: .4em 0;
  float: right; }
  .login-content a {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase; }

.layout-title {
  font-family: "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  height: 78px;
  width: 100%;
  background: #2b92b9;
  padding: 1.5em 0; }
  @media only screen and (max-width: 360px) {
    .layout-title {
      padding: 0.5em 0; } }
  @media only screen and (max-width: 768px) {
    .layout-title {
      padding: 1em 0;
      height: 105px; } }

.layout-navbar {
  min-height: 40px;
  width: 100%;
  background-color: #F2F5F7;
  border: 0;
  border-bottom: 1px solid #C8CFD3;
  margin-bottom: 0;
  z-index: 100; }
  .layout-navbar .layout-container {
    overflow: visible; }

.layout-main {
  padding: 1em 0 0;
  width: 100%; }

.layout-footer {
  width: 100%;
  color: #999;
  font-size: 90%;
  border-top: 1px solid #ccc;
  padding: 1em 0;
  line-height: 1.5; }
  .layout-footer > .layout-container {
    background-position: right -74px; }
    @media only screen and (max-width: 640px) {
      .layout-footer > .layout-container {
        background: none; } }

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 400;
  line-height: 1.1;
  margin: 0 0 .25em; }

h1 {
  color: #d56a03;
  letter-spacing: .5px; }

.h2, h2 {
  font-size: 28px; }

hr {
  background-color: #ccc;
  color: #ccc;
  height: 1px; }

a {
  color: #016691; }

/* ***********************************************
 * HEADER
 * **************/
/* ***********************************************
* NAV
* **************/
.navbar-list {
  list-style: none;
  font-size: 14px;
  padding: 0;
  margin: 0; }

.navbar .caret {
  margin-left: 7px; }

.layout-navbar .navbar-list > li {
  float: left; }
  .layout-navbar .navbar-list > li > a {
    display: block;
    color: #004b6e;
    background-color: #FDFDFD;
    border-bottom: solid 3px rgba(255, 255, 255, 0.4);
    border-right: solid 1px #C8CFD3;
    border-left: solid 1px rgba(255, 255, 255, 0.6);
    padding: 9px 15px;
    text-decoration: none;
    line-height: 1.3; }
  .layout-navbar .navbar-list > li.active > a {
    border-bottom: #D56A03 solid 3px; }

.layout-navbar .navbar-list > li:first-child {
  border-left: solid 1px #C8CFD3; }

/* ***********************************************
* MAIN
* **************/
.main-section {
  line-height: 1.5;
  padding: 0 1em 1em 0;
  /* space for smaller viewports */
  margin-bottom: 1em; }
  @media only screen and (max-width: 640px) {
    .main-section {
      width: 100%;
      padding: 0 0 1em; } }

.main-section-content {
  position: relative; }

@media only screen and (max-width: 975px) {
  .main-section-content img {
    max-width: 100% !important;
    height: auto !important; } }

.main-section-supplement {
  background-color: #F2F5F7;
  border: solid 1px #C8CFD3;
  padding: 1em;
  margin-bottom: 1em; }

.main-section-supplement h3 {
  font-size: 115%;
  color: #738AA3;
  text-shadow: 0 1px 1px #FFF; }

/* ***********************************************
 * FOOTER
 * **************/
.footer-links {
  list-style: none;
  margin: .5em 0 0;
  padding: 0; }
  .footer-links > li {
    display: inline;
    margin-left: 0;
    margin-right: .5em;
    padding-right: .75em; }
  .footer-links > li:first-child {
    border-right: 1px solid #ccc; }

/* ***********************************************
 * Modules
 *
 * Components:
 *  - breadcrumbs
 *  - search
 *  - title
 *  - buttons
 *  - input
 *  - more(?)
 *
 * ***************/
/* ***********************************************
 * BREADCRUMBS
 * ***************/
.breadcrumbs-list {
  background-color: #fff;
  margin-bottom: 0;
  padding: 0 0 1em; }
  .breadcrumbs-list > li {
    color: #666;
    display: inline;
    font-size: 80%; }

/* ***********************************************
 * NAVBAR
 * ***************/
/* ***********************************************
 * SEARCH
 * ***************/
.search {
  float: right;
  position: relative; }

.search-toggle {
  max-height: 38px;
  background: 0 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px solid transparent;
  border-width: 0 1px;
  outline: 0;
  padding: 11px; }
  .search-toggle:hover, .search-toggle.search-is-open {
    background-color: #e6e6e6;
    border-color: #adadad;
    text-decoration: none; }

.search-content {
  position: absolute;
  right: 0;
  width: 385px;
  padding: 10px;
  background-color: #dfe2e4;
  border: solid #ccc;
  border-width: 0 1px 2px;
  display: none; }
  @media only screen and (max-width: 960px) {
    .search-content {
      position: relative;
      width: 100%; } }

.search-content.search-is-open {
  display: block; }

.search-content .search-scope {
  max-width: 30%;
  font-size: 11px;
  padding: 4px 2px 4px 0;
  float: left;
  height: 27px; }

.search-content .input-group {
  width: 250px;
  float: right; }

.search-content .form-control {
  float: right;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 26px; }

/* ***********************************************
 * TITLE
 * ***************/
.title-header {
  float: left;
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap; }
  .title-header.title-header-short {
    display: none; }
  .title-header:hover, .title-header:focus {
    color: #fff; }
  @media only screen and (max-width: 768px) {
    .title-header {
      margin-top: 2em; } }
  @media only screen and (max-width: 360px) {
    .title-header {
      font-size: 20px;
      margin-top: 2.5em; } }

.title-logo {
  float: right;
  width: 229px;
  height: 45px;
  overflow: hidden;
  text-indent: -999em;
  background-position: 0 -3px; }
  @media only screen and (max-width: 360px) {
    .title-logo {
      background-position: -239px -14px;
      height: 32px;
      width: 166px; } }
  @media only screen and (max-width: 768px) {
    .title-logo {
      float: none;
      position: absolute;
      left: 3%;
      /* width is 94% but for one side is only half of 6% -> 3% */
      top: 8px; } }

/* ***********************************************
 * MAIN CONTENT SIDE NAV
 * ***************/
#site-logo img {
  max-width: 100%;
  height: auto; }

.main-content-nav {
  background: #F2F5F7;
  border: solid 1px #C8CFD3;
  padding: 1em;
  margin-bottom: 1em; }
  @media only screen and (max-width: 640px) {
    .main-content-nav {
      margin-top: 2em; } }
  .main-content-nav > h2 {
    color: #738AA3;
    font-size: 140%;
    text-shadow: 0 1px 1px #FFF;
    margin: 0 0 .7em; }
  .main-content-nav > ul {
    /* for borders to line up properly */
    margin: 0 -1em -1em;
    /* override navbar-list 14px for main navbar*/
    font-size: 1em; }
    .main-content-nav > ul > li.active {
      color: #d56a03; }
  .main-content-nav > ul li {
    border-top: solid 1px #D8D7D7;
    list-style: none; }
    .main-content-nav > ul li a {
      display: block;
      padding: 1em 0 1em 1em; }
      .main-content-nav > ul li a:hover {
        background-color: #fff; }
      .main-content-nav > ul li a:hover, .main-content-nav > ul li a:link, .main-content-nav > ul li a:active {
        text-decoration: none; }
    .main-content-nav > ul li.active {
      background-color: #fff;
      padding: 1em 0 1em 1em; }
      .main-content-nav > ul li.active > a {
        color: #d56a03; }
      .main-content-nav > ul li.active a:hover {
        text-decoration: underline; }
    .main-content-nav > ul li ul {
      margin: .4em 0 -.4em 1em;
      padding: 0; }
    .main-content-nav > ul li li {
      font-size: 85%; }

/* ***********************************************
 * BUTTONS
 * ***************/
/* ***********************************************
 * INPUT
 * ***************/
.form-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0.5em; }

.subhead {
  font-size: 120%; }

.layout-header.open,
.layout-main.open,
.layout-footer.open {
  -webkit-transform: translate(42%, 0);
  transform: translate(42%, 0); }
  @media only screen and (max-width: 640px) {
    .layout-header.open,
    .layout-main.open,
    .layout-footer.open {
      -webkit-transform: translate(83%, 0);
      transform: translate(83%, 0); } }

.layout-header button.btn-nav {
  position: relative;
  float: left;
  height: 44px;
  color: #fff;
  font-size: 24px;
  background-image: none;
  background-color: #287897;
  border-radius: 1px;
  border: 1px solid #266E8A;
  padding: 9px 10px;
  margin-right: 10px; }
  @media only screen and (max-width: 360px) {
    .layout-header button.btn-nav {
      font-size: 20px; } }
  @media only screen and (max-width: 960px) {
    .layout-header button.btn-nav {
      display: block; } }

/* button iconbar styling */
button.btn-nav .icon-bar {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  margin-top: 0.25em; }
  @media only screen and (max-width: 360px) {
    button.btn-nav .icon-bar {
      width: 22px; } }

.btn-nav .icon-bar:nth-child(2),
.btn-nav .icon-bar:nth-child(3),
.btn-nav .icon-bar:nth-child(4) {
  transition: all .2s ease;
  transition-delay: .25s;
  opacity: 1; }

.btn-nav .icon-bar:nth-child(2) {
  margin: 0; }

/* button transition code */
.btn-nav .icon-bar:nth-child(2),
.btn-nav .icon-bar:nth-child(4) {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition-delay: .25s;
  -o-transition-delay: .25s;
  transition-delay: .25s; }

.layout-header.open .btn-nav .icon-bar:nth-child(2) {
  -webkit-transform: translate3d(0, 8px, 0) rotateZ(45deg);
  -ms-transform: translate3d(0, 8px, 0) rotateZ(45deg);
  -o-transform: translate3d(0, 8px, 0) rotateZ(45deg);
  transform: translate3d(0, 8px, 0) rotateZ(45deg); }

.layout-header.open .btn-nav .icon-bar:nth-child(3) {
  opacity: 0; }

.layout-header.open .btn-nav .icon-bar:nth-child(4) {
  -webkit-transform: translate3d(0, -8px, 0) rotateZ(-45deg);
  -ms-transform: translate3d(0, -8px, 0) rotateZ(-45deg);
  -o-transform: translate3d(0, -8px, 0) rotateZ(-45deg);
  transform: translate3d(0, -8px, 0) rotateZ(-45deg); }

/* end button transition code */
button:hover {
  border-color: transparent;
  background-color: rgba(254, 254, 254, 0.4); }

button:focus {
  border-color: transparent;
  outline: 0;
  background-color: rgba(254, 254, 254, 0.4); }

button:active {
  border-color: transparent;
  background-color: rgba(254, 254, 254, 0.6); }

.layout-navbar.navbar-is-opened .navbar-list > li {
  float: none; }

.navdrawer-container.navbar-is-opened .layout-container {
  width: 100%; }

.navdrawer-container.navbar-is-opened .navbar-list > li.active {
  background: #fff; }

.navdrawer-container.navbar-is-opened .navbar-list > li > a {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 10px 10px 20px; }
  @media only screen and (max-width: 960px) {
    .navdrawer-container.navbar-is-opened .navbar-list > li > a {
      border: 0;
      font-weight: bold;
      background: #ECECEC;
      border-bottom: 1px solid #ccc; } }

/* Search bar integration */
.navdrawer-container.navbar-is-opened button.search-toggle {
  display: none; }

.navdrawer-container.navbar-is-opened .search {
  width: 100%;
  height: 100%;
  float: none; }

.navdrawer-container.navbar-is-opened .search-content {
  display: block;
  height: 43px;
  padding: 7px;
  background-color: #fff;
  border-bottom: 2px solid #BDBDBD; }
  .navdrawer-container.navbar-is-opened .search-content .search-scope {
    max-width: 30%;
    font-size: 11px;
    padding: 4px 2px 4px 0;
    float: left;
    height: 27px; }
  .navdrawer-container.navbar-is-opened .search-content form > .input-group {
    width: 55%;
    float: right; }
    .navdrawer-container.navbar-is-opened .search-content form > .input-group input {
      height: 27px; }

.navdrawer-container ul {
  list-style-type: none; }

/* sub list stylings */
.navdrawer-container .navbar-subnav:hover > a {
  border-bottom: solid 3px #9FB3BF; }

.navbar-subnav .navbar-sublist li:hover > a {
  background-color: #EAEAEA; }

.navdrawer-container ul.navbar-sublist {
  display: none;
  position: absolute;
  padding: 0;
  border-left: solid 1px #C8CFD3;
  border-top: solid 1px #C8CFD3;
  margin-left: 0;
  -webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.2); }
  @media only screen and (max-width: 960px) {
    .navdrawer-container ul.navbar-sublist {
      display: block;
      position: relative;
      border-left: 0;
      border-top: 0;
      border-bottom: 1px solid #E2E2E2;
      box-shadow: none; } }

.navdrawer-container .subnav-hover ul.navbar-sublist {
  display: block;
  z-index: 3; }
  @media only screen and (max-width: 960px) {
    .navdrawer-container .subnav-hover ul.navbar-sublist {
      display: block;
      position: relative;
      border: 0;
      border-bottom: 1px solid #ccc;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .navdrawer-container .subnav-hover ul.navbar-sublist a {
        border: 0;
        padding-left: 3em; } }

.navdrawer-container .navbar-sublist.subnav-is-opened {
  display: block; }

.navdrawer-container.navbar-is-opened .navbar-sublist.subnav-is-opened a {
  border: 0;
  padding-left: 3em; }

.navdrawer-container .navbar-sublist a {
  display: block;
  background: #FFF;
  border-bottom: solid 1px #C8CFD3;
  border-right: solid 1px #C8CFD3;
  border-left: solid 1px rgba(255, 255, 255, 0.6);
  color: #004b6e;
  padding: 9px 15px 8px;
  text-decoration: none; }

.layout-header,
.layout-main,
.layout-footer {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out; }

nav.navdrawer-container.navbar-is-opened {
  position: fixed;
  top: 0;
  height: 100%;
  opacity: 1;
  border-right: 1px solid #DADADA;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  transition-delay: 0.15s;
  pointer-events: auto;
  z-index: 2; }

.navbar-is-opened {
  display: block; }

.navbar-is-opened a:hover {
  text-decoration: underline !important; }

@media only screen and (max-width: 640px) {
  .navdrawer-container.navbar-is-opened {
    width: 83%; }
    .navdrawer-container.navbar-is-opened .search {
      max-width: none; } }
@media screen and (min-width: 320px) and (max-width: 640px) {
  .navdrawer-container.navbar-is-opened .search-content form > .input-group {
    width: 60%; } }

@media only screen and (max-width: 768px) {
  .layout-header .btn-nav {
    margin-top: 1.7em; } }
@media only screen and (max-width: 960px) {
  .navdrawer-container .navbar-sublist a {
    border: none;
    margin: 0;
    padding-left: 2.5em !important; } }
@media only screen and (min-width: 960px) {
  .navdrawer-container {
    display: block;
    width: 100%;
    opacity: 1; }

  button.btn-nav {
    display: none; } }
@media only screen and (max-width: 960px) {
  .navdrawer-container {
    position: fixed;
    width: 42%;
    z-index: -1;
    opacity: 0; }

  .navdrawer-container .navbar-subnav .navbar-sublist.subnav-is-opened {
    display: block;
    position: relative;
    border: 0;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none; } }
.collapse-navbar .navdrawer-container {
  position: fixed;
  width: 42%;
  z-index: -1;
  opacity: 0; }
  .collapse-navbar .navdrawer-container .subnav-hover ul.navbar-sublist {
    display: block;
    position: relative;
    border: 0;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .collapse-navbar .navdrawer-container .subnav-hover ul.navbar-sublist a {
      border: 0;
      padding-left: 3em; }

.collapse-navbar .btn-nav {
  display: block; }

.collapse-navbar .search-content {
  position: relative;
  width: 100%; }

/* Blink & TL Styles */
.blink-nav-button {
  background: #FDFDFD url(http://cdn.ucsd.edu/developer/decorator/4.5.4/styles/img/blink_nav.png) 0 6px no-repeat !important;
  min-width: 78px; }
  .blink-nav-button a {
    color: transparent !important;
    background-color: transparent !important; }

.tlink-nav-button {
  background: #FDFDFD url(http://cdn.ucsd.edu/developer/decorator/4.5.4/styles/img/current_students_nav.png) 0 6px no-repeat !important;
  min-width: 103px; }
  .tlink-nav-button a {
    color: transparent !important;
    background-color: transparent !important; }

/**********************************************************************
 * Basic CSS styling
 */
.clearfix {
  overflow: auto; }

/* --------------------------------------------------------------------
 * table
 */
table.styled {
  margin-bottom: 1em; }

table.styled th, table.styled td {
  padding: .25em 1em; }

table.styled th {
  background-color: #eee;
  font-weight: bold; }

table.styled th, table.styled td {
  border: 1px solid #ccc; }

table.styled tbody tr.even {
  background-color: #eff; }

/* --------------------------------------------------------------------
 * _images
 */
img.left {
  float: left;
  padding: 0 1em 1em 0;
  width: auto; }

img.right {
  float: right;
  padding: 0 0 1em 1em;
  width: auto; }

/* --------------------------------------------------------------------
 * * - 360px
 */
@media only screen and (max-width: 360px) {
  img.left,
  img.right {
    float: none;
    padding: 1em 0; } }
/**********************************************************************
* Messages
*/
.msg {
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  border-radius: .5em;
  padding: .5em 1em;
  margin-bottom: 1em; }

.msg h4 {
  padding-left: 20px;
  text-shadow: none; }

.msg.info {
  border: 1px solid #aaa;
  background-color: #eee; }

.msg.info h4 {
  background-position: 0 -150px; }

.msg.alert {
  border: 1px solid #fa0;
  background-color: #ffe; }

.msg.alert h4 {
  background-position: 0 -249px;
  color: #D56A03; }

.msg.confirm {
  border: 1px solid #393;
  background-color: #efe; }

.msg.confirm h4 {
  color: #393;
  background-position: 0 -200px; }

.msg.error {
  border: 1px solid #c00;
  background-color: #fee; }

.msg.error h4 {
  color: #c00;
  background-position: 0 -299px; }

/**********************************************************************
* Button
*/
.button {
  border: none;
  color: #333;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
  margin-right: .5em;
  padding: .25em 1em;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

.button:hover {
  text-decoration: none; }

.button:active {
  position: relative;
  top: 1px; }

.button:disabled {
  color: #999;
  cursor: default; }

/*---------------------------------------------------------------------
 * primary button
 */
.primary {
  background: #fc0;
  background: -moz-linear-gradient(top, #fc0, #fa0);
  background: -webkit-gradient(linear, left top, left bottom, from(#fc0), to(#fa0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc00',endColorstr='#ffaa00'); }

.primary:hover {
  background: #f90; }

.primary:disabled {
  background: #fd0;
  background: -moz-linear-gradient(top, #fd0, #fc0);
  background: -webkit-gradient(linear, left top, left bottom, from(#fd0), to(#fc0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd00',endColorstr='#ffcc00'); }

/*---------------------------------------------------------------------
 * secondary button
 */
.secondary {
  background: #eee;
  background: -moz-linear-gradient(top, #eee, #ddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#dddddd'); }

.secondary:hover {
  background: #ccc; }

.secondary:disabled {
  background: #fff;
  background: -moz-linear-gradient(top, #fff, #eee);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eeeeee'); }

/*---------------------------------------------------------------------
 * link button
 */
a.button {
  color: #333; }

/* --------------------------------------------------------------------
 * * - 480px
 */
@media only screen and (max-width: 480px) {
  .button {
    padding: .5em 1em; } }
/**********************************************************************
* Icon
*/
.icon {
  padding-left: 1.5em; }

/* ie 7 only hack */
*:first-child + html .icon {
  display: inline-block; }

.icon.newwin {
  background-position: 0 -50px; }

.icon.info {
  background-position: 0 -150px; }

.icon.confirm {
  background-position: 0 -200px; }

.icon.alert {
  background-position: 0 -250px; }

.icon.error {
  background-position: 0 -300px; }

.icon.invalid {
  background-position: 0 -300px; }

.icon.cal {
  background-position: 0 -350px; }

.icon.check {
  background-position: 0 -400px; }

.icon.check_disabled {
  background-position: 0 -450px; }

.icon.close {
  background-position: 0 -500px; }

.icon.close_disabled {
  background-position: 0 -550px; }

.icon.disable {
  background-position: 0 -600px; }

.icon.disable_disabled {
  background-position: 0 -650px; }

.icon.doc {
  background-position: 0 -700px; }

.icon.doc_disabled {
  background-position: 0 -750px; }

.icon.gear {
  background-position: 0 -900px; }

.icon.mail {
  background-position: 0 -950px; }

.icon.minus {
  background-position: 0 -1000px; }

.icon.minus_disabled {
  background-position: 0 -1050px; }

.icon.pencil {
  background-position: 0 -1100px; }

.icon.pencil_disabled {
  background-position: 0 -1150px; }

.icon.plus {
  background-position: 0 -1200px; }

.icon.plus_disabled {
  background-position: 0 -1250px; }

.icon.print {
  background-position: 0 -1300px; }

.icon.search {
  background-position: 0 -1400px; }

.icon.search_disabled {
  background-position: 0 -1450px; }

.icon.submit {
  background-position: 0 -1500px; }

.icon.submit_disabled {
  background-position: 0 -1550px; }

.icon.trash {
  background-position: 0 -1600px; }

.icon.trash_disabled {
  background-position: 0 -1650px; }

.icon.undo {
  background-position: 0 -1700px; }

.icon.arrow_right {
  background-position: 0 -1750px; }

.icon.arrow_down {
  background-position: 0 -1800px; }

.icon.play {
  background-position: 0 -1850px; }

.icon.stop {
  background-position: 0 -1900px; }

/* Social Media Icons */
.social-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

.social-list li {
  height: 33px;
  margin: 0 0 10px 0;
  padding: 0 40px;
  cursor: pointer; }

.social-list li.facebook {
  background-position: 0 0; }

.social-list li.twitter {
  background-position: 0 -39px; }

.social-list li.youtube {
  background-position: 0 -80px; }

.social-list li.linkedin {
  background-position: 0 -121px; }

.social-list li.googleplus {
  background-position: 0 -160px; }

.social-list li.instagram {
  background-position: 0 -200px; }

.social-list li.tumblr {
  background-position: 0 -240px; }

.social-list li.flickr {
  background-position: 0 -280px; }

.social-list li.vine {
  background-position: 0 -320px; }

.social-list li.pinterest {
  background-position: 0 -360px; }

.social-list li.blogger {
  background-position: 0 -400px; }

.social-list li.rss {
  background-position: 0 -440px; }

.social-list li.vimeo {
  background-position: 0 -480px; }

.social-list li.wordpress {
  background-position: 0 -520px; }

/**********************************************************************
 * Form Elements
 */
input[type="text"], select, textarea {
  border: 1px solid #aaa; }

.form-control {
  border-radius: 0;
  padding: .5em;
  /* to keep in line with other input paddings */ }

input[type="text"], textarea {
  padding: .5em; }

select.form-control {
  padding: .5em .2em; }

fieldset {
  border: 1px solid #aaa;
  padding: .5em;
  border: 0; }

legend {
  color: #333;
  margin-left: 0;
  padding: 0; }

input[type=radio], input[type=checkbox] {
  margin-right: .25em; }

/*---------------------------------------------------------------------
 * input group addon
 */
/* white background to make it look less like an 'actionable' button */
.input-group-addon {
  background: #fff; }

/* --------------------------------------------------------------------
 * form fields and font style
 */
div.field, div.field_top, div.field_left, div.label {
  clear: both;
  padding-bottom: 1em; }

div.label {
  color: #000; }

.field_top div.label {
  padding-bottom: .25em; }

.label, .input, .output {
  display: block; }

.label label {
  font-weight: bold; }

/* --------------------------------------------------------------------
 * form
 */
form {
  margin-bottom: 1em; }

/* output */
form .output {
  font-weight: normal; }

/* help text */
form .help {
  color: #999;
  display: block;
  font-style: italic;
  font-size: 85%; }

/* required field */
form .help.icon.asterisk {
  padding-bottom: 1em; }

/* multi field */
.multi {
  margin-right: .5em; }

.input.multi {
  margin-right: 0;
  padding-bottom: .5em; }

/* --------------------------------------------------------------------
 * form invalid field
 */
form input.invalid, form textarea.invalid {
  border: 1px solid #c00; }

form .invalid, form .inline_invalid {
  color: #c00; }

form .inline_invalid {
  display: block; }

/* hide from ie */
html > body form .icon.invalid {
  margin-left: .5em; }

/* --------------------------------------------------------------------
 * form layout - default is left aligned
 */
.field .label {
  width: 10em;
  float: left;
  text-align: right;
  padding-right: 1em; }

.field .input, .field .output, .field select.input, .field textarea.input {
  margin-left: 11em; }

.field .required {
  background-position: right 0; }

.field_top .required,
.field_left .required {
  background-position: left 0;
  padding-left: 1em; }

/* top-aligned */
.field_top .label {
  padding-left: 1em; }

.field_top .input, .field_top .output, .field_top select.input, .field_top textarea.input {
  margin-left: 1em; }

/* left-aligned */
.field_left .label {
  width: 10em;
  float: left;
  text-align: left;
  padding-left: 1em; }

.field_left .input, .field_left .output, .field_left select.input, .field_left textarea.input {
  margin-left: 11.5em; }

/* --------------------------------------------------------------------
 * * - 640px
 */
@media only screen and (max-width: 640px) {
  .field .label,
  .field_left .label {
    float: none;
    text-align: left;
    padding-left: 1em;
    padding-bottom: .25em; }

  .field .input, .field .output, .field select.input, .field textarea.input,
  .field_left .input, .field_left .output, .field_left select.input, .field_left textarea.input {
    margin-left: 1em; }

  .field .required,
  .field_left .required {
    background-position: left 0;
    padding-left: 1em; } }
/* --------------------------------------------------------------------
 * * - 480px
 */
@media only screen and (max-width: 480px) {
  input[type="text"], textarea {
    padding: .5em .25em; } }
/**********************************************************************
* loading styling
*/
div.loading {
  clear: both;
  height: 32px;
  text-indent: -9999px;
  background-position: center; }

span.loading {
  background-position: right;
  padding-right: 20px; }

/**********************************************************************
 * CSS Styling for the page nav aside
 */
div.styled {
  background: #F2F5F7;
  border: 1px solid #C8CFD3;
  margin-bottom: 1em;
  padding: 1em; }
  div.styled h2, div.styled h3, div.styled h4, div.styled h5, div.styled h6 {
    color: #738AA3;
    text-shadow: 0 1px 1px #FFFFFF; }
  div.styled h2 {
    font-size: 140%; }
  div.styled h3 {
    font-size: 115%; }

#page_nav {
  margin: 0 -1em -1em;
  padding: 0; }
  #page_nav li {
    border-top: 1px solid #DBD7D7;
    color: #06c;
    list-style: none;
    margin: 0;
    padding: 0; }
    #page_nav li.active, #page_nav li a {
      color: #016691;
      display: block;
      padding: 1em 0 1em 1em; }
    #page_nav li.active {
      background-color: #fff;
      color: #D56A03; }
    #page_nav li.collapsed ul {
      display: none; }
    #page_nav li a:hover {
      background-color: #fff;
      text-decoration: none; }
    #page_nav li li {
      font-size: 85%; }
      #page_nav li li a:hover {
        text-decoration: underline; }
  #page_nav ul {
    margin: .4em 0 -.4em 1em;
    padding: 0; }

#page_nav_title {
  margin-bottom: 0.7em; }

/*******************************************************************
FLEXSLIDER
************************/
.flexslider {
  border: 0;
  border-radius: 0;
  margin-bottom: 1em;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  /* pause and play control */
  /* direction control */ }
  .flexslider a {
    color: #fff;
    -webkit-tap-highlight-color: transparent; }
  .flexslider .slides li {
    margin: 0; }
  .flexslider .flex-control-nav {
    float: right;
    right: 32px;
    bottom: 10px;
    height: 12px;
    width: auto;
    z-index: 5; }
    .flexslider .flex-control-nav li {
      vertical-align: top;
      margin: 0 0 0 5px;
      /* shared paging, pause and play control styles */
      /* paging control */ }
      .flexslider .flex-control-nav li a {
        border: 1px solid #016691;
        cursor: pointer;
        height: 10px;
        margin-left: 8px;
        text-indent: -9999px;
        width: 20px; }
      .flexslider .flex-control-nav li a {
        background: #bed4e7;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none; }
      .flexslider .flex-control-nav li a.flex-active {
        background: #eb8626;
        border: 1px solid #c15f01;
        cursor: default; }
  .flexslider .flex-pauseplay a {
    border: 0;
    display: block;
    height: 10px;
    width: 20px;
    position: static;
    text-indent: -9999px; }
  .flexslider .flex-pauseplay a.flex-pause {
    background-position: 6px -248px; }
  .flexslider .flex-pauseplay a.flex-play {
    background-position: 8px -232px; }
  .flexslider .flex-direction-nav li a {
    background: #000;
    background: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000, endColorstr=#4c000000);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-indent: 0;
    text-align: center;
    margin: 0;
    top: 30%;
    height: 24px;
    width: 24px;
    opacity: 0.8; }
  .flexslider .flex-direction-nav li a:hover {
    text-decoration: none; }
  .flexslider .flex-direction-nav li a.flex-prev {
    left: 10px; }
  .flexslider .flex-direction-nav li a.flex-next {
    right: 10px; }
  .flexslider .flex-direction-nav a:before {
    content: ''; }
  .flexslider .flex-direction-nav a.flex-next:before {
    content: ''; }
  .flexslider .flex-controls {
    height: 37px;
    z-index: 99; }
    .flexslider .flex-controls .flex-pauseplay {
      bottom: 10px;
      right: 5px;
      position: absolute;
      z-index: 10; }

/* Caption style */
/* IE rgba() hack */
.flex-caption {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  zoom: 1; }

.flex-caption {
  width: 100%;
  padding: 2%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px; }
  .flex-caption a {
    -webkit-tap-highlight-color: rgba(88, 166, 203, 0.6); }

/* control container */
/* alternative theme */
.flexslider.alt .flex-direction-nav li a,
.flexslider.alt .flex-caption {
  background: #0B638B;
  background: rgba(11, 99, 139, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA1986b4,endColorstr=#AA1986b4);
  zoom: 1; }

/*******************************************************************
Alerts
************************/
/********************* CMS */
/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("../fonts/flexslider-icon.eot");
  src: url("../fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none; }

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

.flexslider .slides img {
  width: 100%;
  display: block; }

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 10px;
  background: #ffffff;
  border: 4px solid #ffffff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2); }

.flexslider .slides {
  zoom: 1; }

.flexslider .slides img {
  height: auto; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }

.flex-direction-nav a.flex-next:before {
  content: '\f002'; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1; }

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a .flex-play:before {
  content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
/* adding 4.0 flexslider css */
.flexslider .flex-controls {
  height: 37px;
  z-index: 99; }

.flexslider .flex-control-nav {
  float: right;
  right: 32px;
  bottom: 10px;
  height: 12px;
  width: auto;
  z-index: 5; }

.flexslider .flex-control-nav li {
  vertical-align: top;
  margin: 0 0 0 5px; }

.flexslider .flex-control-nav li a {
  border: 1px solid #016691;
  cursor: pointer;
  height: 10px;
  margin-left: 8px;
  text-indent: -9999px;
  width: 20px;
  background: #bed4e7;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

.flexslider .flex-control-nav li a.flex-active {
  background: #eb8626;
  border: 1px solid #c15f01;
  cursor: default; }

.flexslider .flex-controls .flex-pauseplay {
  bottom: 10px;
  right: 5px;
  position: absolute;
  z-index: 10; }

.flexslider .flex-pauseplay a.flex-pause {
  background-position: 6px -248px; }

.flexslider .flex-pauseplay a.flex-play {
  background-position: 8px -232px; }

.flexslider .flex-pauseplay a {
  background: url(img/sprite_icon_widget.png);
  border: 0;
  display: block;
  height: 10px;
  width: 20px;
  position: static;
  text-indent: -9999px; }

/**********************************************************************
 * CSS Styling for the drawer widget.
 */
.drawer-wrapper {
  margin-bottom: 1em; }

.drawer {
  border-bottom: 1px solid #ccc; }

/* header */
.drawer h2 {
  border-top: 1px solid #ccc;
  font-weight: normal;
  margin-bottom: 0;
  padding: .2em 0;
  zoom: 1;
  font-size: 24px; }

/* default state */
.drawer h2 a {
  background-position: 0 4px;
  display: block;
  padding-left: 20px;
  text-decoration: none; }

/* ie7 hack */
*:first-child + html .drawer h2 a {
  display: inline-block; }

/* expanded state */
.drawer h2.expand {
  background-color: #0B4A67; }

.drawer h2.expand a {
  background-position: 0 -96px;
  color: #fff; }

/* hover state */
.drawer h2:hover, .drawer h2:active {
  background-color: #F0FAFF;
  cursor: pointer; }

.drawer h2.expand:hover, .drawer h2.expand:active {
  background: #0B4A67; }

/* content background */
.drawer > div,
.drawer > article {
  padding: 1em 2em; }

.drawer > div.cols_wrapper {
  padding: 1em 0; }

/* toggle links */
.drawer-toggle {
  font-size: 90%;
  padding: .5em 0; }

.drawer-toggle a {
  color: #666; }

.drawer-toggle a:hover, .drawer-toggle a:active {
  color: #016691; }

.drawer-toggle a {
  background-position: 0 -217px;
  padding-left: 16px; }

.drawer-toggle a.expand {
  background-position: 0 -201px; }

@media print {
  /* removes ucsd logo and other background images (glyphicons) */
  html, main, footer *,
  .layout-title * {
    background-color: transparent !important;
    background-image: none !important;
    overflow: visible !important; }

  /* title and header font color should be black (readable) */
  .title-header,
  h1, h2, h3, h4, h5, h6, p {
    color: #000; }

  /* hide login/ emergency/ nav/ search/ footer links/ btn-nav styles */
  #uc-emergency, .layout-login, nav, .search, .footer-links, .btn-nav {
    display: none; }

  main {
    width: 99.99% !important; }
    main section {
      left: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
      width: 100% !important; }

  /* reset horizontal ruler */
  hr {
    background-color: #ccc !important; }

  .main-content-nav {
    background: none; }

  a[href]:after {
    content: none !important; } }

/*# sourceMappingURL=base.css.map */
