/* start of decorator 4.5 support for  IE7 and IE8 specifics */
/* '*+' ie7 specific selector */
*+section.layout-title {
  box-sizing: border-box;
  padding: 1em 0;
  height: 50px;
}

.layout-header {
  height: 78px;
}

.layout-login {
  display:none;
}

/* ie will not have mobile nav */
.navdrawer-container {
  display: block !important;
  width: 100% !important;
  min-height: 40px !important;
  position:relative !important;
}
/* Doesn't have padding for ie since no mobile nav */
.navdrawer-container .navbar-sublist a {
  padding: 9px 15px 8px !important;
}
.layout-header button.btn-nav {
  display: none !important;
}
/* ie8 fix to reveal search caret */
button.caret {
  border-top-style: solid;
}

.navdrawer-container .search {
  float: right !important;
}
/* search max-height fix */
button.search-toggle {
  display: block !important;
  height: 40px;
  *width: 50px!important;
  *padding: 0 !important;
  *background:url(http://qa.ucsd.edu/common/cwp/4.0.0/styles/img/search_ie_icon.png) no-repeat 0 6px!important;
}

ol.breadcrumbs-list {
  margin: 10px 0 0;

  li {
    *margin-right: 7px;
  }
}

/* to deal with added padding
   width hard coding to get around media query styling */
.main-content-container {
  padding: 0;
  width: 75%;

  .main-section {
    &.col-sm-9 {
      width: 75%;
    }
    &.col-sm-3 {
      width: 25%;
    }
  }
}
.main-section {
  *padding: 0;

  &.pull-left {
    width: 25%;
  }

  .main-section-content {
    *padding: 0 1em;
  }

  /* homepage */
  .main-section-module {
    padding: 0;

    &.col-xs-6 {
      width: 48%;
    }
  }

  .main-section-header {
    padding: 0 15px 10px;
  }

  /* sidebar resize | whitespacing */
  &.col-xs-3 {
    width: 23%;
  }

  /* homepage-wide col */
  &.col-sm-7 {
    width: 51%;
  }
  &.col-sm-5.sidebar {
    width: 45%;
    padding: 12px 20px;
  }
}

/* profile template fix */
.profile-section {
  padding-left: .5em;
}

/* flexslider */
.flex-caption {
  padding: 0;
}