  /********************* VARIABLES & MIXINS */

  .imageHolder {
    display: inline-block;
    width: 17%;
    height: 93px;
    float: left;
    min-height: 93px;
    min-width: 110px; }

  .profile-listing ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .profile-listing li.profile-listing-card {
    margin: 0 0 1em;
    background: #ececec;
    border: 1px solid #e9e9e9;
    width: 99.5%;
    display: inline-block; }
    .profile-listing li.profile-listing-card a {
      color: #016691;
      text-decoration: none; }
    .profile-listing li.profile-listing-card img {
      width: 13%;
      height: auto;
      float: left; }

  .profile-listing-data {
    display: inline-block;
    padding: 1.5%;
    width: 80%; }
    .profile-listing-data h3 {
      font-size: 160%;
      color: #4b4b4b; }

  .profile-section {
    width: 72%; }
    @media only screen and (max-width: 640px) {
      .profile-section {
        width: 100%; } }

  .profile-section-contact {
    width: 25%;
    padding-left: 2%; }
    @media only screen and (max-width: 640px) {
      .profile-section-contact {
        width: 98%; } }
    .profile-section-contact img {
      width: 100%;
      margin-bottom: 1em; }
      @media only screen and (max-width: 640px) {
        .profile-section-contact img {
          float: left;
          width: 125px;
          margin-right: 1em; } }
    .profile-section-contact ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .profile-section-contact ul li {
<<<<<<< HEAD
        background: url(img/social-sprite-20.png) no-repeat;
=======
        background: url(../img/social-sprite-20.png) no-repeat;
>>>>>>> 1b6adace46eb4584ee87521897258f772c8ba1d9
        margin: 0 0 1em;
        padding-left: 35px; }
        .profile-section-contact ul li.email {
          background-position: 0 1px; }
        .profile-section-contact ul li.fax {
          background-position: 0 -59px; }
        .profile-section-contact ul li.location {
          background-position: 0 -115px; }
        .profile-section-contact ul li.phone {
          background-position: 0 -253px; }
        .profile-section-contact ul li.facebook {
          background-position: 0 -314px; }
        .profile-section-contact ul li.twitter {
          background-position: 0 -498px; }
        .profile-section-contact ul li.linkedin {
          background-position: 0 -436px; }
        .profile-section-contact ul li.googleplus {
          background-position: 0 -374px; }
        .profile-section-contact ul li.personal-website {
          background-position: 0 -556px; }
    .profile-section-contact .profile-contact-list {
      margin-left: 0;
      padding-left: 0;
      list-style: none; }
      .profile-section-contact .profile-contact-list li {
        height: 25px; }
      @media only screen and (max-width: 640px) {
        .profile-section-contact .profile-contact-list {
          display: inline-block;
          padding: 0;
          width: 50%; } }

  ul.resp-tabs-list {
    margin: 0;
    padding: 0; }

  .resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 0 1.25em .5em;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left; }

  .resp-tabs-container {
    padding: 0;
    border-top: 1px solid #016691;
    clear: left; }

  h2.resp-accordion {
    cursor: pointer;
    display: none; }

  .resp-tab-content {
    display: none;
    padding: 1em 0; }

  .resp-tab-active {
    margin-bottom: -1px;
    padding: .2em;
    border-bottom: 3px solid #0B4A66; }

  .resp-accordion-active, .resp-content-active {
    display: block; }

  h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0 solid #c1c1c1;
    margin: 0;
    padding: 10px 15px; }

  h2.resp-tab-active {
    border-bottom: 0 solid #c1c1c1 !important;
    margin-bottom: 0 !important;
    padding: 0.2em; }

  h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: #00f; }

  @media only screen and (max-width: 900px) {
    .resp-tabs-list li {
      font-size: 12px;
      padding: 0 1em 0.5em; } }
  .resp-easy-accordion h2.resp-accordion {
    display: block; }

  .resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1; }

  .resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important; }

  .resp-jfit {
    width: 100%;
    margin: 0; }

  .resp-tab-content-active {
    display: block; }

  h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important; }

  .resp-arrow {
    width: 12px;
    height: 16px;
    float: left;
    padding-right: 15px;
<<<<<<< HEAD
    background: url(//www.ucsd.edu/common/cwp/active-cherry/img/sprite_icon_widget.png) 0 4px no-repeat; }
=======
    background: url(//www.ucsd.edu/common/cwp/active-cherry/../img/sprite_icon_widget.png) 0 4px no-repeat; }
>>>>>>> 1b6adace46eb4584ee87521897258f772c8ba1d9

  h2.resp-tab-active span.resp-arrow {
    border: 0;
    background-position: 0 -96px; }

  @media only screen and (max-width: 640px) {
    .resp-tab-content.resp-tab-content-active {
      padding-left: 20px; }

    ul.resp-tabs-list {
      display: none; }

    h2.resp-accordion {
      font-weight: 400;
      display: block;
      color: #016691;
      border: 0;
      border-top: 1px solid #ccc;
      padding: .2em 0;
      font-size: 150%; }

    h2.resp-tab-active {
      color: #fff;
      background-color: #0b4a67; }

    .resp-tabs-container {
      border-top: 0;
      border-bottom: 1px solid #ccc; }

    .resp-vtabs .resp-tab-content {
      border: 1px solid #C1C1C1; }

    .resp-vtabs .resp-tabs-container {
      border: 0;
      float: none;
      width: 100%;
      min-height: initial;
      clear: none; }

    .resp-accordion-closed {
      display: none !important; }

    .resp-vtabs .resp-tab-content:last-child {
      border-bottom: 1px solid #c1c1c1 !important; } }
