/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
  margin-bottom: 60px;

  .cr-item-container {
      position: absolute;
      top:20%;
      transition:all .2s linear;
      width: inherit;
         @media screen and (max-width: $xl-deskotp) {
           top:10%;
         }

         @media screen and (max-width: $desktop) {
           top: 0%;
         }

         @media screen and (max-width: $desktop-small) {
           top:20%;
           margin: 0 5%;
         }

         @media screen and (max-width: $tablet) {
            top:10%;
         }

         @media screen and (max-width: $mobile) {
           top:5%;
         }

       h1 {
          @media screen and (max-width: 1160px) {
            font-size: 40px;
          }
          @media screen and (max-width: $desktop-small) {
            font-size: 2em !important;
          }

          @media screen and (max-width: $mobile) {
            font-size: 1.2em !important;
          }
       }

       p {
           @media screen and (max-width: $desktop-small) {
             display: none;
           }
       }

       a.btn {

         @media screen and (max-width: $desktop-small) {
           margin-left: 35px !important;
           padding: 8px;
           min-width: 150px;
           font-size: 13px;
         }

       }
  }

  /*.container h1 {
    @media screen and (max-width: 1160px) {
      font-size: 40px;
    }
    @media screen and (max-width: $desktop-small) {
      font-size: 2em !important;
    }
  }*/

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #FFF;
}
.carousel-inner > .item > img {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}


.carousel-control {
      width: 10%;
     @media screen and (max-width: $desktop) {
       width: 5%;
     }

}

.carousel-indicators {

     @media screen and (max-width: $tablet) {
       display: none;
     }

}

button#toggleCarousel {
    background: transparent;
    border: none;
    color: #FFF;
    font-size: 14px;
}

a.hero-no-button {
    display: block;
    overflow: hidden;
    width: 100%;
}

a.hero-no-button > img {
    width: 100%;
}

/* ROTATOR BUILDER
-------------------------------------------------- */

  /*Center Styles */

  .cntr {
    width: auto !important;
    margin: 5% auto !important;
    display: block;
    text-align: center;
    padding: 0;
  }

  .cntr-btn {
    margin: 0 auto !important;
    display: block;
    text-align: center;
    width: max-content;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content;
  }

  /* Background color */

  .rt-dark-blue {
    background-color: #182B49 !important;
  }

  .rt-light-blue {
    background-color: #006A96 !important;
  }

  .rt-neutral-gray {
    background-color: #747678 !important;
  }


  /* Accent color */

  .rt-btn-gold {
    background-color: #C69214 !important;
    color: #FFF !important;
  }

  .rt-btn-cyan {
    background-color: #00C6D7 !important;
  }

  .rt-btn-yellow {
    background-color: #FFCD00 !important;
  }

  .rt-btn-orange {
    background-color: #FC8900 !important;
    color: #FFF !important;
  }


@media (min-width: 768px) {


  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


.carousel-control.right, .carousel-control.left {
  background-image: none;
}


/* QuickBlock Carousel
-------------------------------------------------- */

.qb-carousel {

    .carousel-caption {

      bottom: 20px;
      padding-bottom: 0;
      padding-top: 0;
      text-align: left;
      left: 0;
      margin-left: 20px;

        h3{
          color: #FFF;
        }

        p {
          font-size: 15px;
        }

    }

    .carousel-indicators {
      bottom: 0;
      left: auto;
      list-style: none;
      margin-left: 0;
      margin-right: 10px;
      padding-left: 0;
      right: 0;
      text-align: right;
      width: auto;
    }


}

/*Contact Module */

.contact-module {

    h2 {
      margin-bottom: 15px !important;
    }

    iframe {
      width: 100%;
      height: 300px;

      @media(max-width: 400px) {
          height: 250px;
        }

    }

    .contact-lable p {
    font-weight: bold !important;
    margin-bottom: 25px;
    }


}

/*Social Media Module */

.social-media-module {

    h2 {
      text-transform: uppercase;
      margin-top: 23px;
      margin-bottom: 23px;
      font-size: 2em
    }

    .btn-social-icon {
      border: 0;
      border-radius: 0;
      margin: 0 10px 10px 0
    }

}

//bootstrap-social button supplements

.btn-youtube {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

.btn-youtube:hover {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0,0,0,0.2);
}

/* Legacy Social Media Icons */


.social-list {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.social-list li {
	height: 33px;
	margin: 0 0 10px 0;
	padding: 0 40px;
  	cursor: pointer;
	background: url(../img/sprite_social.png) no-repeat transparent;
}

.social-list li.facebook {
	background-position: 0 0;
}

.social-list li.twitter {
	background-position: 0 -39px;
}

.social-list li.youtube {
	background-position: 0 -80px;
}

.social-list li.linkedin {
	background-position: 0 -121px;
}

.social-list li.googleplus {
	background-position: 0 -160px;
}

.social-list li.instagram {
	background-position: 0 -200px;
}

.social-list li.tumblr {
	background-position: 0 -240px;
}

.social-list li.flickr {
	background-position: 0 -280px;
}

.social-list li.vine {
	background-position: 0 -320px;
}

.social-list li.pinterest {
	background-position: 0 -360px;
}

.social-list li.blogger {
	background-position: 0 -400px;
}

.social-list li.rss {
	background-position: 0 -440px;
}

.social-list li.vimeo {
  background-position: 0 -480px;
}

.social-list li.wordpress {
  background-position: 0 -520px;
}

/* Blockquote Footer Reset*/

blockquote > footer {
    background-color: transparent;
}

/* Full Calendar */

#calendar {
  margin: 20px 0;
}
