/* ***********************************************
 * Layout
 *
 * Components:
 *  - base layout
 *  - header
 *  - footer
 *  - nav
 *  - more(?)
 *
 * ***************/

/* ***********************************************
 * BASE
 * ***************/

html, body
{
  background: #FFF;
  overflow-x: hidden;
  color: #333;
  font: normal normal normal 16px/1.7 'Roboto', sans-serif;
}

/*Accessibility Focus On Keyboard Navigation*/

:focus {
  outline: thin dotted #333333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}

  /* container will have media queries for sizing*/

  .layout-container {
    max-width: $full;
    width: 98%;
    margin: 0px auto;
    overflow: hidden;

    @media only screen and (max-width: $desktop-small) {
      width: 94%;
    }

    @media only screen and (max-width: $full) {
      max-width: 960px;
    }
  }

  .layout-navbar .layout-container {
    overflow: visible;
  }

  .layout-header {
    /* to incorporate new navbar button*/
    display: block;
    width: 100%;

    background-color: #2b92b9;
//
    @media only screen and (min-width: $minimum) and (max-width: $desktop-small) {
      height: 105px;

    }



    //
   /*
    @media only screen and (min-width: $desktop-small + 1) {
      height: 78px;
    }*/
  }

  .layout-header,.isLoggedIn {
    height: 100%;
  }
    .layout-login {
      width: 100%;

      background: #0B4A67;
      overflow: hidden;
    }
    .login-content {
      color: #fff;
      font-size: 85%;
      padding: .4em 0;
      float: right;

      a {
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .layout-title {
      font-family: 'Roboto', sans-serif;
      box-sizing: border-box;

      height: 92px;
      width: 100%;
      background: #fff;
      padding: 1.5em 0;

      @media only screen and (max-width: $mobile-small) {
        padding: 0.5em 0;
      }

      @media only screen and (max-width: $desktop-small) {
        padding: 1em 0;
        height: auto;
      }
    }

  .layout-navbar {
    min-height: 50px;
    width: 100%;

    background-color: $blue;
    border: 0;
    border-bottom: 1px solid $blue;
    margin-bottom: 0;
    z-index: 100;

    .layout-container {
      overflow: visible;
    }
  }

  .layout-main {
    width:100%;
  }

  .layout-footer {
    width: 100%;

    color: #fff;
    font-size: 90%;
    border-top: 1px solid #ccc;
    padding: 1em 0;
    line-height: 1.5;

    > .layout-container {
      background-position: right -74px;

      @media only screen and (max-width: $tablet) {
        background: none;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 400;

    line-height: 1.1;
    /*margin: 0 0 .25em;*/
  }

  h1 {
    color: $blue;
    letter-spacing: .5px;
    font-size: 39px
  }

  .h2, h2 {
    font-size: 28px;
  }

  .styled-h2 {
    color: #333;
  }


  hr {
    background-color: #ccc;
    color: #ccc;
    height: 1px;
  }

  a {
    color: #016691;
  }


/* ***********************************************
 * HEADER
 * **************/

.skip-to-main:focus, .skip-to-main:active {
  width: auto;
  height: auto;
  margin: auto;
  padding: auto;
  clip: auto;
  background-color: green;
  color: white;
}

/* ***********************************************
* NAV
* **************/

nav
{
  .container {
    padding: 0;
  }
}

.navbar-list {
  list-style: none;
  font-size: 16px;
  padding: 9px 0 0 0;
  margin: 0;
}

.navbar .caret {
  margin-left: 7px;
}

.layout-navbar .navbar-list > li {
  float: left;

  > a {
    display: block;
    color: #fff;

    background-color: $blue;
    //border-bottom: solid 3px rgba(255,255,255,.4);
    //border-right: solid 1px #C8CFD3;
    //border-left: solid 1px rgba(255,255,255,.6);

    padding: 9px 15px;
    text-decoration: none;
    line-height: 1.3;
  }

  &.active > a {
    border-bottom: #ffcd00 solid 3px;
  }
}

.layout-navbar .navbar-list > li:first-child {
  //border-left: solid 1px #fff;
}

// Bootstrap Native Navigation Overrides
.navbar {
	margin-bottom: 0;
}
.navbar-default {
	background-color: $blue;
	border-bottom: none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: darken($blue, 10%);
    color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: darken($blue, 10%);
	color: #fff;
}
.dropdown-menu {
	background-color: darken($blue, 10%);
  border-radius: 0;
  padding: 0;
}
.dropdown-menu > li > a {
	color: #fff;
  padding: 6px 20px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: darken($blue, 10%);
	color: #fff;
}

.navbar-toggle {
	background-color: $blue;
  border: none;
	float: left;
	margin: 8px 0 8px 20px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: darken($blue, 10%);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.mobile-nav-bars {
  padding: 5px;
  float: left;
}

.mobile-nav-icon {
  font-size: 13px;
  padding: 2px 0;
  float: left;
  color: #FFF;
}

#search {
	position: absolute !important;
	width: 385px;
}

/*Dropdown Hover Fallback */

@media only screen and (min-width:767px) {
  #navbar > .navbar-nav > .dropdown:hover .dropdown-menu {
    display: block;
 }
  #navbar > .navbar-nav > li:hover > a {
    background-color: #014663 !important;
 }
}

// offcanvas overrides

.navmenu-default .navmenu-nav > .active > a, .navbar-default .navbar-offcanvas .navmenu-nav > .active > a, .navmenu-default .navmenu-nav > .active > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover, .navmenu-default .navmenu-nav > .active > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus {
	color: #fff;
	background-color: darken($blue, 10%);
}

.navmenu-default .navmenu-nav > li > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover, .navmenu-default .navmenu-nav > li > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
	color: #fff;
	background-color: $blue;
}

.navmenu-nav {padding-bottom: 0;}

.navmenu-nav > li {
	border-bottom: 1px solid #ccc;
}

.navmenu-default .navmenu-nav > li > a {
	color: #333;
}

.open .navmenu-nav > li > a {
	padding: 10px 20px 10px 30px;
	color: $blue;
	&:hover {
		color: #333;
		background-color: transparent;
		text-decoration: underline;
	}
}



li.open {border-bottom: none;}

/*************************************************
* Mobile Nav and search
* ****************/

.offcanvas > ul.nav.navbar-nav.navbar-right {

  @media only screen and (max-width: $desktop-small-after) {
    margin: 0;

      .search {
        width: 100%;
      }

      .search-toggle {
        display: none;
      }

      .search-content {
        background-color: #ffffff;
        border-bottom: 2px solid #BDBDBD;
      }

      #search{
        display: block !important;
        position: relative !important;
        width: 100%;
        padding: 10px 15px;
        overflow: hidden;
      }

      .search-content .input-group {
        width: 60%;
      }

      .search-content .search-scope {
        width: 34%;
      }

  }

}


@media only screen and (max-width: $desktop-small-after) {
  .navmenu-default .navmenu-nav > li > a {
    background-color: #e7e7e7;
    color: $blue !important;
  }

  .navmenu-default .navmenu-nav > .open > a {
    color: $blue !important;
    border-bottom: 1px solid #CCC;

  }

  .dropdown-menu > li > a {
    background-color: #FFF !important;
    color: $blue !important;
  }

  .navmenu-default .navmenu-nav > .active > a {
      color: $blue !important;;
      background-color: #e7e7e7;
      border-left: 2px solid $blue;
  }

}




/* ***********************************************
* MAIN
* **************/

main
{
}
  .main-section {
    line-height: 1.5;
    padding: 0 0 1em 0;

    /* space for smaller viewports */
    margin-bottom: 1em;
    @media only screen and (max-width: $desktop-small) {
      width:100%;
      padding: 0 15px 1em;
    }

    a {
      text-decoration: underline;
    }
  }

  .main-section-content {
    position: relative;
  }
  .main-section img {

    @media only screen and (max-width: 975px) {
      max-width: 100% !important;
      height: auto !important;
    }
  }

  .main-section-supplement {
    background-color: #F2F5F7;
    border: solid 1px #C8CFD3;
    padding: 1em;
    margin-bottom: 1em;
  }
    .main-section-supplement h3 {
      font-size: 115%;
      color: #738AA3;
      text-shadow: 0 1px 1px #FFF;
    }


/* ***********************************************
 * FOOTER
 * **************/

footer
{
	background-color: $blue;
}
  .footer-links {
    list-style: none;

    margin: .5em 0 0;
    padding: 0;

    > li {
      display: inline;

      margin-left: 0;
      margin-right: .5em;
      padding-right: .75em;
      a {
	      color: #fff;
	      text-decoration: underline;
      }
    }

    > li:first-child {
      border-right: 1px solid #fff;
    }
  }

.footer .row {
	padding: 1.5em 0;
	color: #fff;
	font-size: .9em;
}
.footer-logo {
	width: 158px;
	height: 30px;
	float: right;
	@media only screen and (max-width: $desktop-small) {
		float: none;
		margin-top: 15px;
	}
}
