/*
Error: Undefined variable: "$desktop".
        on line 79 of modules.scss

74:   background-color: #dfe2e4;
75:   border: solid #ccc;
76:   border-width: 0 1px 2px;
77:   display: none;
78: 
79:   @media only screen and (max-width: $desktop) {
80:     position: relative;
81:     width: 100%;
82:   }
83: }
84:   .search-content.search-is-open {

Backtrace:
modules.scss:79
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/node.rb:50:in `perform'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:526:in `block in run_interp_no_strip'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:524:in `map'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:524:in `run_interp_no_strip'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:531:in `run_interp'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:499:in `visit_media'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:420:in `map'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `map'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `each'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/exec/sass_scss.rb:329:in `watch_or_update'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/exec/sass_scss.rb:50:in `process_result'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/exec/base.rb:40:in `parse'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/exec/base.rb:19:in `parse!'
C:/DevKit/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.3/bin/scss:13:in `<top (required)>'
C:/DevKit/Ruby/bin/scss:23:in `load'
C:/DevKit/Ruby/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$desktop\".\A         on line 79 of modules.scss\A \A 74:   background-color: #dfe2e4;\A 75:   border: solid #ccc;\A 76:   border-width: 0 1px 2px;\A 77:   display: none;\A 78: \A 79:   @media only screen and (max-width: $desktop) {\A 80:     position: relative;\A 81:     width: 100%;\A 82:   }\A 83: }\A 84:   .search-content.search-is-open {"; }
