/* ***********************************************
 * Modules
 *
 * Components:
 *  - breadcrumbs
 *  - search
 *  - title
 *  - buttons
 *  - input
 *  - more(?)
 *
 * ***************/

/* ***********************************************
 * BREADCRUMBS
 * ***************/

.breadcrumbs-list {
  background-color: #fff;

  margin-bottom: 0;
  padding: 0 0 1em;

  > li {
    color: #666;
    display: inline;
    font-size: 80%;
  }
}

/* ***********************************************
 * NAVBAR
 * ***************/



/* ***********************************************
 * SEARCH
 * ***************/

.search {
  float: right;
  position:relative;
//  max-width:380px;
}

.search-toggle {
  max-height: 38px;

  background: 0 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px solid transparent;
  border-width: 0 1px;

  outline: 0;
  padding: 11px;

  &:hover,
  &.search-is-open {
    background-color: #e6e6e6;
    border-color: #adadad;
    text-decoration: none;
  }
}

.search-content {
  position: absolute;
  right: 0;

  width: 385px;
  padding: 10px;

  background-color: #dfe2e4;
  border: solid #ccc;
  border-width: 0 1px 2px;
  display: none;

  @media only screen and (max-width: $desktop) {
    position: relative;
    width: 100%;
  }
}
  .search-content.search-is-open {
    display: block;
  }

  .search-content .search-scope {
    max-width: 30%;
    font-size: 11px;
    padding: 4px 2px 4px 0;
    float: left;
    height: 27px;
  }
  .search-content .input-group {
    width: 250px;
    float: right;
  }
  .search-content .form-control {
    float: right;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 26px;
  }

/* ***********************************************
 * TITLE
 * ***************/

.title-header {
  float: left;

  color: #fff;
  font-size: 24px;

  letter-spacing: 1px;

  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &.title-header-short {
    display: none;
  }

  &:hover,
  &:focus {
    color: #fff;
  }

  @media only screen and (max-width: $desktop-small) {
    margin-top: 2em;
  }
  @media only screen and (max-width: $mobile-small) {
    font-size: 20px;
    margin-top: 2.5em;
  }
}

.title-logo {
  float: right;

  width: 229px;
  height: 45px;

  overflow: hidden;
  text-indent: -999em;
  background-position: 0 -3px;

  @media only screen and (max-width: $mobile-small) {
    background-position: -239px -14px;
    height: 32px;
    width: 166px;
  }

  @media only screen and (max-width: $desktop-small) {
    float: none;
    position: absolute;
    left: 3%; /* width is 94% but for one side is only half of 6% -> 3% */
  }
}

/* ***********************************************
 * MAIN CONTENT SIDE NAV
 * ***************/

 #site-logo img {
    max-width: 100%;
    height: auto;
}

.main-content-nav {
  background: #F2F5F7;
  border: solid 1px #C8CFD3;
  padding: 1em;
  margin-bottom: 1em;

  @media only screen and (max-width: $tablet) {
    margin-top: 2em;
  }

  > h2 {
    color: #738AA3;
    font-size: 140%;
    text-shadow: 0 1px 1px #FFF;
    margin: 0 0 .7em;
  }
  > ul {
    /* for borders to line up properly */
    margin: 0 -1em -1em;
    /* override navbar-list 14px for main navbar*/
    font-size: 1em;

    > li.active {
      color: #d56a03;
    }
  }

  > ul li {
    border-top: solid 1px #D8D7D7;
    list-style: none;

    a {
      display: block;
      padding: 1em 0 1em 1em;

      &:hover {
        background-color: #fff;
      }
      &:hover, &:link, &:active {
        text-decoration: none;
      }
    }

    &.active {
      background-color: #fff;

      padding: 1em 0 1em 1em;


      > a {
        color: #d56a03;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    ul {
      margin: .4em 0 -.4em 1em;
      padding:0;
    }

    li {
      font-size: 85%;
    }
  }
}


/* ***********************************************
 * BUTTONS
 * ***************/

button {

}


/* ***********************************************
 * INPUT
 * ***************/

input {

}

.form-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0.5em;
}

select {

}

.subhead {
  font-size: 120%
}
