.layout-header.open,
.layout-main.open,
.layout-footer.open {
  -webkit-transform: translate(42%,0);
  transform: translate(42%,0);

  @media only screen and (max-width: $tablet) {
    -webkit-transform: translate(83%,0);
    transform: translate(83%,0);
  }
}

.layout-header button.btn-nav {
  position: relative;
  float: left;

  height: 44px;

  color: #fff;
  font-size: 24px;

  background-image: none;
<<<<<<< HEAD
  background-color: #287897;
  border-radius: 1px;
  border: 1px solid #266E8A;
=======
  background-color: #006A96;
  border-radius: 1px;
  border: 1px solid #006A96;
>>>>>>> 1b6adace46eb4584ee87521897258f772c8ba1d9

  padding: 9px 10px;
  margin-right: 10px;

  @media only screen and (max-width: $mobile-small) {
    font-size: 20px;
  }

  @media only screen and (max-width: $desktop) {
    display: block;
  }
}
/* button iconbar styling */


button.btn-nav .icon-bar {
  display: block;

  width: 30px;
  height: 2px;

  background-color: #fff;
  border-radius: 1px;
  margin-top: 0.25em;

  @media only screen and (max-width: $mobile-small) {
    width: 22px;
  }
}

.btn-nav .icon-bar:nth-child(2),
.btn-nav .icon-bar:nth-child(3),
.btn-nav .icon-bar:nth-child(4) {
  transition: all .2s ease;
  transition-delay: .25s;
  opacity: 1;
}
  .btn-nav .icon-bar:nth-child(2) {
    margin: 0;
  }
  /* button transition code */
  .btn-nav .icon-bar:nth-child(2),
  .btn-nav .icon-bar:nth-child(4) {
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
  }
    .layout-header.open .btn-nav .icon-bar:nth-child(2) {
      -webkit-transform: translate3d(0,8px,0) rotateZ(45deg);
      -ms-transform: translate3d(0,8px,0) rotateZ(45deg);
      -o-transform: translate3d(0,8px,0) rotateZ(45deg);
      transform: translate3d(0,8px,0) rotateZ(45deg);
    }
    .layout-header.open .btn-nav .icon-bar:nth-child(3) {
      opacity: 0;
    }
    .layout-header.open .btn-nav .icon-bar:nth-child(4) {
      -webkit-transform: translate3d(0, -8px, 0) rotateZ(-45deg);
      -ms-transform: translate3d(0, -8px, 0) rotateZ(-45deg);
      -o-transform: translate3d(0, -8px, 0) rotateZ(-45deg);
      transform: translate3d(0, -8px, 0) rotateZ(-45deg);
    }
/* end button transition code */


button:hover {
  border-color: transparent;
  background-color: rgba(254,254,254,.4);
}

button:focus {
  border-color: transparent;
  outline: 0;
  background-color: rgba(254,254,254,.4);
}

button:active {
  border-color: transparent;
  background-color: rgba(254,254,254,.6);
}

.layout-navbar.navbar-is-opened .navbar-list > li {
  float: none;
}

.navdrawer-container.navbar-is-opened .layout-container {
  width:100%;
}


.navdrawer-container.navbar-is-opened .navbar-list > li.active {
  background: #fff;
}

.navdrawer-container.navbar-is-opened .navbar-list > li > a {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 10px 10px 20px;
<<<<<<< HEAD
  @media only screen and (max-width: $desktop) {
    border: 0;
    font-weight: bold;
    background: #ECECEC;
=======
  background-color: #006a96 !important;
  border: none !important;
  &:hover {
	  background-color: darken(#006a96, 10%) !important;
  }
  @media only screen and (max-width: $desktop) {
    border: 0;
    font-weight: bold;
    background: #006A96;
>>>>>>> 1b6adace46eb4584ee87521897258f772c8ba1d9
    border-bottom: 1px solid #ccc;
  }
}

/* Search bar integration */
.navdrawer-container.navbar-is-opened button.search-toggle {
  display: none;
}

.navdrawer-container.navbar-is-opened .search {
  width: 100%;
  height: 100%;

  float: none;
}

.navdrawer-container.navbar-is-opened .search-content {
  display: block;

  height: 43px;

  padding: 7px;
<<<<<<< HEAD
  background-color: #fff;
  border-bottom: 2px solid #BDBDBD;
=======
  background-color: #006A96;
  //border-bottom: 2px solid #BDBDBD;
>>>>>>> 1b6adace46eb4584ee87521897258f772c8ba1d9

    .search-scope {
      max-width: 30%;
      font-size: 11px;
      padding: 4px 2px 4px 0;
      float: left;
      height: 27px;
    }

    form > .input-group {
      width: 55%;
      float: right;

      input {
        height: 27px;
      }
    }
}

.navdrawer-container ul {
  list-style-type: none;
}

  /* sub list stylings */
  .navdrawer-container .navbar-subnav:hover > a {
    border-bottom: solid 3px #9FB3BF;
  }
    .navbar-subnav .navbar-sublist li:hover > a {
<<<<<<< HEAD
      background-color: #EAEAEA;
=======
      background-color: #006A96;
>>>>>>> 1b6adace46eb4584ee87521897258f772c8ba1d9
    }

  .navdrawer-container ul.navbar-sublist {
    display: none;
    position: absolute;
<<<<<<< HEAD
=======
    font-size: 14px;
>>>>>>> 1b6adace46eb4584ee87521897258f772c8ba1d9

    @media only screen and (max-width: $desktop) {
      display: block;
      position: relative;
      border-left: 0;
      border-top: 0;
      border-bottom: 1px solid #E2E2E2;
      box-shadow: none;
    }

    padding: 0;

<<<<<<< HEAD
    border-left: solid 1px #C8CFD3;
    border-top: solid 1px #C8CFD3;
=======
    //border-left: solid 1px #C8CFD3;
    //border-top: solid 1px #C8CFD3;
>>>>>>> 1b6adace46eb4584ee87521897258f772c8ba1d9
    margin-left: 0;

    -webkit-box-shadow: 0 3px 5px 0 rgba(50,50,50,.2);
    box-shadow: 0 3px 5px 0 rgba(50,50,50,.2);
  }
    .navdrawer-container .subnav-hover ul.navbar-sublist {
      display: block;
      z-index: 3;

      @media only screen and (max-width: $desktop) {
        display: block;
        position: relative;
        border: 0;
        border-bottom: 1px solid #ccc;
        -webkit-box-shadow: none;
        box-shadow: none;

        a {
          border: 0;
          padding-left: 3em;
        }
      }
    }

    .navdrawer-container .navbar-sublist.subnav-is-opened {
      display: block;
    }
      .navdrawer-container.navbar-is-opened .navbar-sublist.subnav-is-opened a{
        border: 0;
        padding-left: 3em;
      }

    .navdrawer-container .navbar-sublist a {
      display: block;

      //width: 100%;
      //height: 100%;

<<<<<<< HEAD
      background: #FFF;
      border-bottom: solid 1px #C8CFD3;
      border-right: solid 1px #C8CFD3;
      border-left: solid 1px rgba(255,255,255,.6);

      color: #004b6e;
=======
      background: darken(#006A96, 5%);
      // border-bottom: solid 1px #C8CFD3;
      //border-right: solid 1px #ffcd00;
      //border-left: solid 1px rgba(255,255,255,.6);

      color: #fff;
>>>>>>> 1b6adace46eb4584ee87521897258f772c8ba1d9
      padding: 9px 15px 8px;
      text-decoration: none;
    }
.layout-header,
.layout-main,
.layout-footer {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

nav.navdrawer-container.navbar-is-opened {
  position: fixed;

  top: 0;
  height: 100%;

  opacity: 1;

  border-right: 1px solid #DADADA;

  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  -webkit-transform: translate(0,0);
  transform: translate(0,0);

  transition-delay: 0.15s;

  pointer-events: auto;

  z-index: 2;
}


.navbar-is-opened {
  display: block;
}

.navbar-is-opened a:hover {
  text-decoration: underline !important;
}


  .navdrawer-container.navbar-is-opened {
    @media only screen and (max-width: $tablet) {
      width: 83%;

      .search {
        max-width: none;
      }
    }

    @media screen and (min-width: $minimum) and (max-width: $tablet) {
      .search-content form > .input-group {
        width: 60%;
      }
    }

  }

@media only screen and (max-width: $desktop-small) {
  .layout-header .btn-nav {
    margin-top: 1.7em;
  }
}
@media only screen and (max-width: $desktop) {
  .navdrawer-container .navbar-sublist a {
    border: none;
    margin: 0;
    padding-left: 2.5em !important;
  }
}


@media only screen and (min-width: $desktop) {
  .navdrawer-container {
    display: block;
    width: 100%;
    opacity: 1;
  }

  button.btn-nav {
    display: none;
  }
}

@media only screen and (max-width: $desktop) {
  .navdrawer-container {
    position: fixed;
    width: 42%;
    z-index: -1;
    opacity: 0;
  }

    .navdrawer-container .navbar-subnav .navbar-sublist.subnav-is-opened {
      display: block;
      position: relative;

      border: 0;
      border-bottom: 1px solid #ccc;

      -webkit-box-shadow: none;
      box-shadow: none;
    }
}

.collapse-navbar .navdrawer-container {
  position: fixed;
  width: 42%;
  z-index: -1;
  opacity: 0;

  .subnav-hover ul.navbar-sublist {
    display: block;
    position: relative;
    border: 0;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;

    a {
      border: 0;
      padding-left: 3em;
    }
  }
}

.collapse-navbar .btn-nav {
  display: block;
}

.collapse-navbar .search-content {
  position: relative;
  width: 100%;
}

<<<<<<< HEAD
/* Blink & TL Styles */

.blink-nav-button {
  background: #FDFDFD url(http://cdn.ucsd.edu/developer/decorator/4.5.4/styles/img/blink_nav.png) 0 6px no-repeat !important;
=======
ul.nav.navbar-nav.navbar-right {
    margin-right: 0 !important;
}

a.navbar-brand {
  color: #FFF !important;
}

/* Blink & TL Styles */

.blink-nav-button {
  background: #FDFDFD url(http://cdn.ucsd.edu/developer/decorator/4.5.4/styles/../img/blink_nav.png) 0 6px no-repeat !important;
>>>>>>> 1b6adace46eb4584ee87521897258f772c8ba1d9
  min-width: 78px;

    a {
      color: transparent !important;
      background-color: transparent !important;
    }

}

.tlink-nav-button {
<<<<<<< HEAD
  background: #FDFDFD url(http://cdn.ucsd.edu/developer/decorator/4.5.4/styles/img/current_students_nav.png) 0 6px no-repeat !important;
=======
  background: #FDFDFD url(http://cdn.ucsd.edu/developer/decorator/4.5.4/styles/../img/current_students_nav.png) 0 6px no-repeat !important;
>>>>>>> 1b6adace46eb4584ee87521897258f772c8ba1d9
  min-width: 103px;

    a {
      color: transparent !important;
      background-color: transparent !important;
    }

}
