/*
 * Consolidating image references
 * to a singular location
 *
 * minimizes number of calls sent to reference images
 */

// sprite_base & sprite_base2x
.title-logo,
.layout-footer > .layout-container {
  background: url(../img/sprite_base.png) no-repeat transparent;

  @media screen and (-webkit-min-device-pixel-ratio:2) {
    background-image: url(../img/sprite_base2x.png);
    background-size: 500px 120px;
  }
}

// sprite_social
.social-list li {
  background: url(../img/sprite_social.png) no-repeat transparent;
}

// sprite_icon

// icon_widget
.drawer-toggle a, .drawer h2 a,
.flex-pauseplay a {
  background: url(../img/sprite_icon_widget.svg) no-repeat transparent ;
  background-size: 16px 300px;
}

// icon_loading & icon_loading_inline
div.loading {
  background: url(../img/icon_loading.gif) no-repeat transparent;
}
span.loading {
  background: url(../img/icon_loading_inline.gif) no-repeat transparent;
}

// asterisk
.icon.asterisk,
.field .required,
.field_top .required,
.field_left .required {
  background: url(../img/asterisk.png) no-repeat transparent;
}
