/* ***********************************************
 * Modules
 *
 * Components:
 *  - Global styles
 *  - Buttons & Links
 *  - Hero Landing Page
 *  - Text and CTA w/Full Height Image Left
 *  - News with Images
 *  - Callout Image Small Inset
 *  - Callout Content One
 *  - Callout Content Two
 *
 * ***************/

 /* Global styles , specific for new templates */

 .jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6, .styled-h2    {
	line-height: 1.1;
	margin: 0 0 .25em;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6, .jumbotron .h1, .jumbotron .h2, .jumbotron .h3, .jumbotron .h4, .jumbotron .h5, .jumbotron .h6, .styled-h2  {
	text-transform: uppercase;
	font-weight: bold;
}
.jumbotron h1, .jumbotron .h1, .jumbotron h2, .jumbotron .h2, .jumbotron h3, .jumbotron .h3, .styled-h2{
	margin-top: 23px;
	margin-bottom: 11.5px;
}

.jumbotron .drawer-wrapper ul, .jumbotron  .drawer-wrapper ol {padding-left: 1em;}

.jumbotron .drawer-wrapper ul li, .jumbotron  .drawer-wrapper ol li {
	padding-bottom: 10px;
}

.jumbotron a, .jumbotron a:hover {
	text-decoration: none;
}

.jumbotron, .container .jumbotron {
	border-radius: 0 !important;
}

.detail-logo img {
	margin-top: 35px;
	margin-bottom: 15px;
	width: 80%;
}
#site-logo {
	margin-top: 0;
	@media (min-width: $desktop-small) {
		margin-top: 0;
	}
}

@media (min-width: $desktop-small) {
	.jumbotron h2, .styled-h2 {
		font-size: 2em;
	}

	.jumbotron h4 {
	    font-size: 1.22em;
	}
}

/* Buttons & links */

.btn, .btn-default {
    white-space: normal;
}

.jumbotron  .btn-default {
  background-color: $yellow;
  color: #484949;
  font-family: inherit;
  transition: all 0.3s;
  border: 0;
  border-radius: 0;
  &:hover {
   	background-color: $dark-blue;
	color: #fff;
  }
}

.jumbotron-hero .btn-default:hover {
	background-color: #fff;
	color: $dark-gray;
  }  


.styled-yellow {
  background-color: $yellow;
  color: #484949 !important;
  font-family: inherit;
  transition: all 0.3s;
  border: 0;
  border-radius: 0;
  text-decoration: none !important;
  &:hover {
   	background-color: darken($yellow, 5%);
  }
}

.jumbotron .btn-primary {
  background-color: $blue;
  color: #fff;
  font-family: inherit;
  transition: all 0.3s;
  border: 0;
  border-radius: 0;
  &:hover {
   	background-color: $dark-blue;
  }
}


.styled-blue {
  background-color: $blue;
  color: #fff !important;
  font-family: inherit;
  transition: all 0.3s;
  border: 0;
  border-radius: 0;
  text-decoration: none !important;
  &:hover {
   	background-color: darken($blue, 10%);
		color: #fff;
  }
}


.jumbotron .btn, .styled-yellow, .styled-blue {
	font-size: 0.9375em;
	text-transform: uppercase;
	padding: 0.8em 1.5em;
	min-width: 200px;
	margin-bottom: 1em;
	letter-spacing: 0.08em;
	font-weight: normal;
}

.jumbotron .text-link {
	 color: $dark-blue;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px $dark-blue solid;
    letter-spacing: 0.08em;
}

/* Hero Landing Page */

.jumbotron {
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center;
	color: inherit;
	// removed padding, to have consistent spacing to work with these templates
	padding: 0 !important;
}
.hm {
	padding: 0 0 !important;
	color: #fff !important;
	margin: 0 !important;
}
.jumbotron-hero-lg {
	background-image: url("../../img/gps-hero.jpg");
}
.jumbotron .text-indent-h1 h1 {
	text-transform: uppercase;
	@media (max-width: $desktop-small) {
		font-size: 2.5em;
	}
	@media (max-width: $mobile) {
		font-size: 2em;
	}
}
.jumbotron .text-indent-h1 p {
	margin-left: 6.75em;
}
.jumbotron .text-indent-h1 a.btn {
	margin-left: 7.2em;
}
.jumbotron .text-indent-h2 p {
	margin-left: 3.6em;
}
.jumbotron .text-indent-h2 a.btn {
	margin-left: 4.4em;
}
.jumbotron .text-indent-h1 p, .jumbotron  .text-indent-h2 p {
	width: 19em;
}
.jumbotron .text-indent h1 span {
	margin-left: 1.65em;
}
.jumbotron-hero .text-indent h1, .jumbotron-hero .text-indent h2, .jumbotron-hero .text-indent h3, .jumbotron-image-bg .text-indent h1, .jumbotron-image-bg .text-indent h2, .jumbotron-image-bg .text-indent h3 {
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.75);
}
.jumbotron-hero .text-indent p , .jumbotron-image-bg .text-indent p {
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
}

.jumbotron {
	margin: 60px 0;
}

/* Text and CTA w/Full Height Image Left */

.side-image-white {
	background-color: #fff;
}
.jumbotron p {
	margin-bottom: 15px;
	font-size: 1em;
}

.embed-video {
	margin: 23px 0;
    position: relative;
    padding-bottom: 51.10%; /* - 16:9 aspect ratio (most common) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.embed-video iframe,
.embed-video object,
.embed-video embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* News with Images */

.jumbotron-news {
	background: #F5F0E6 !important;

	.panel-heading {
	    padding: 10px 15px;
	}

}

.jumbotron-news h2 {
    margin-bottom: 1em;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: bold;
	 color: $dark-blue;
}

.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

.jumbotron .panel {border-radius: 0 !important;}


.jumbotron-news .panel.panel-default {
    border: none;
    background-color: transparent;
	 box-shadow: none;

		img {
    	width: 100%;
		border-radius: 14px;
		}

}
.jumbotron-news .panel.panel-default .panel-heading {
    background-color: transparent;
    border: none;
}
.panel-default>.panel-heading {
    color: $dark-blue;
}
.jumbotron-news .panel .panel-news-date {
    text-transform: uppercase; 
    color: $dark-blue;
    font-size: 0.85em;
    margin-bottom: 0.25em;
    margin-top: 1em;
}
.jumbotron-news .panel .panel-news-title {
    text-transform: none;
    margin-top: 0;
	 font-size: 1.25em;
	 line-height: 1.1em;
	 letter-spacing: .5px;
	 color: $dark-blue;
}
.jumbotron-news .panel.panel-default .panel-body {
    padding-top: 0;
    padding-right: 2em;
}
.jumbotron-news .view-all-link {
	 margin-top: 2em;
}

@media (min-width: $desktop-small) {
	.jumbotron-news .panel.panel-default .panel-heading {
	    min-height: 135px;
	}
	.jumbotron-news .view-all-link {
		 margin-top: 2.5em;
	}
}
@media screen and (min-width: 992px) {
	.jumbotron-news .panel.panel-default:hover img {
		 transform: scale(1.1);
	}
}

/*  News feed  */
.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	grid-auto-rows: 1fr;
}
.card {
	display: flex;
}

@media(min-width:768px) {
	.card-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
		grid-auto-rows: 1fr;

		.img-container {
			height: 155px !important;
		}

		.img-responsive {
			height: 155px !important;
		}
   }
	
	.main-section .card-container .img-container, 
	.main-section .card-container .img-responsive {
		height: 150px !important;
	}
}

@media(min-width:992px) {
	.card-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
		grid-auto-rows: 1fr;

		.img-container {
			height: 201px !important;
		}

		.img-responsive {
			height: 201px !important;
		}
	}

	.main-section .card-container .img-container, .main-section .card-container .img-responsive {
		height: 150px !important;
	}
}

@media(min-width:1200px) {
	.card-container {
		.img-container {
			height: 242px !important;
		}

		.img-responsive {
			height: 242px !important;
		}
	}

	.main-section .card-container .img-container, .main-section .card-container .img-responsive {
		height: 182px !important;
   }
}


/* Callout Image Small Inset */

.jumbotron-callout-image-small-inset {
	background-image: url("../img/callout-content-two-bg.jpg");
	background-position: center center;
	background-size: cover;
	padding: 48px 0 !important;
	border-radius: 0 !important;
	h2, h3, p, a {
		color: #484949;
	}
	.panel {
		margin: 0 15px;
	}
	.panel.panel-default .panel-body {
		padding: 1em 2em;
	}
	.btn-default:hover {
		background-color: $dark-blue;
		color: #fff;
	}
}

/* Callout Content One */

.jumbotron-callout-content-one {
	background-color: $blue;
	background-image: url("../img/bg-dark-blue-trident-full.png");
  	background-position: center;
	color: #fff;
	padding: 30px 0 !important;
	border-radius: 0 !important;
	h2, h3, h4, h5, h6, p, li, a:hover {color: #fff;}

	a {color: #FFF; text-decoration: underline !important;}

	a:hover {color: #FFF; text-decoration: underline !important;}

	a.btn {text-decoration: none !important;}

	a.btn:hover {text-decoration:none;}

	.panel {
		background-color: transparent !important;
		margin: 0 15px 20px 15px;
		box-shadow: none;
		border: 0;
	}
	.panel.panel-primary .panel-body {
		padding: 0em 1em ;
	}
	.panel.panel-primary .panel-body p {
		font-size: 1.125em;
		color: #fff;
	}

	.cc-yellow-trident {
		background-image: url("../img/bg-dark-blue-trident-full.png");
	}

	

	@media (min-width: 992px) {
		h2 {
			margin-left: 50px;
		}
	}
}

.cc-yellow-trident {
	color: $darker-gray;
	background-color: #f5f5f5;
	background-image: url("../img/bg-yellow-trident-full.png");

	h2, h3, h4, h5, h6, p, li, a:hover {color: $darker-gray;}

	.panel.panel-primary .panel-body p {
		color: $darker-gray;
	}
	a {color: $darker-gray; text-decoration: underline !important;}

	a:hover {color: $darker-gray; text-decoration: underline !important;}
}

.cc-dark-blue-trident {
	background-color: #182b49;
	background-image: url("../img/bg-white-trident-full.png");
}

.cc-dark-blue-library {
	background-color: #182b49;
	background-image: url("../img/dark-blue-library.png");
}

.cc-blue-library-light {
	background-image: url("../img/dark-blue-library.png");
}

.cc-custom-background {
	background-size:cover;
}

/* Callout Content Two */

.jumbotron-callout-content-two {
	background-image: url("../img/callout-content-two-bg.jpg");
	background-position: center center;
	background-size: cover;
	padding: 48px 0 !important;
	border-radius: 0 !important;

		.panel {
			border: none;
		}
		.panel.panel-primary {
			background-color: rgba(0,106,150,0.85);
		}
		.panel.panel-primary .panel-body {
			padding: 1em 2em;
		}
		.panel.panel-primary .panel-body .btn {
			margin-bottom: 0;
		}
		.panel.panel-primary .text-link {
			color: #fff;
		}
		.panel.panel-primary .text-right {
			margin-bottom: 0.25em;
		}
		.panel-primary .text-link {
				border-bottom: 1px #fff solid;
		}


}
.jumbotron-callout-content-two h2, .jumbotron-callout-content-two h3, .jumbotron-callout-content-two p {
	color: #fff;
}

.cta-two-three p {
	color: #fff !important;
}

.ct4-light-bg {
	h2 {

		color: #484949 !important;

	 } 
	 
	 p {
		color: #333;
	 }
	
}

.panel-darker {
	background-color: #00629B !important;
}

.text-indent h2 span, .text-indent .h2 span {
    margin-left: 2em;
}


/* Jumbotron full-width */

.jumbotron-full-width {
    background-image: url("../img/bg-light-yellow-trident.png");
    background-position: top right;
    background-color: #f5f5f5;
		border-radius: 0 !important;
    padding: 2em !important;
}

.jumbotron-full-width-ni {
    background-color: #f5f5f5;
		border-radius: 0 !important;
    padding: 2em !important;

		h2{
			margin: 0 0 30px 0;
		}
}
