/* ***********************************************
 * Modules
 *
 * Components:
 *  - Global styles
 *  - Buttons & Links
 *  - Hero Landing Page
 *  - Text and CTA w/Full Height Image Left
 *  - News with Images
 *  - Callout Image Small Inset
 *  - Callout Content One
 *  - Callout Content Two
 *  - Multiple Listings
 *  - Listing Details
 *  - Callout Content Blocks
 *
 * ***************/

 /* Global styles , specific for new templates */

 .jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6, .styled-h2    {
	line-height: 1.1;
	margin: 0 0 .25em;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6, .jumbotron .h1, .jumbotron .h2, .jumbotron .h3, .jumbotron .h4, .jumbotron .h5, .jumbotron .h6, .styled-h2  {
	text-transform: none;
	font-weight: bold;
}
.jumbotron h1, .jumbotron .h1, .jumbotron h2, .jumbotron .h2, .jumbotron h3, .jumbotron .h3, .styled-h2{
	margin-top: 23px;
	margin-bottom: 11.5px;
}

.jumbotron h1, .jumbotron h2 {
	font-family: 'Teko-SemiBold', sans-serif;
	text-transform: none;
	letter-spacing: .5px;
}

.jumbotron h1 {
	font-size: 3.5em;
	line-height: .9em;
}

.jumbotron h2 {
	font-size: 2.2em;
	line-height: .9em;
}

.jumbotron .drawer-wrapper ul, .jumbotron  .drawer-wrapper ol {padding-left: 1em;}

.jumbotron .drawer-wrapper ul li, .jumbotron  .drawer-wrapper ol li {
	padding-bottom: 10px;
}

.jumbotron a, .jumbotron a:hover {
	text-decoration: none;
}

.jumbotron, .container .jumbotron {
	border-radius: 0 !important;
}

.detail-logo img {
	margin-top: 35px;
	margin-bottom: 15px;
	width: 80%;
}
#site-logo {
	margin-top: 0;
	@media (min-width: $desktop-small) {
		margin-top: 0;
	}
}

@media (min-width: $desktop-small) {
	.jumbotron h2, .styled-h2 {
		font-size: 2.5em;
	}

	.jumbotron h4 {
	    font-size: 1.22em;
	}
}

.overlay-glow-1 figure {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("../img/overlay-glow-1.png");
		background-size: cover;
		background-position: 0% 50%;
		mix-blend-mode: lighten;
		background-repeat: no-repeat;
	}
}

.overlay-glow-2 figure {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("../img/overlay-glow-2.png");
		background-size: cover;
		background-position: 0% 50%;
		mix-blend-mode: lighten;
		background-repeat: no-repeat;
	}
}

/* Buttons & links */

.btn, .btn-default {
    white-space: normal;
}

.jumbotron  .btn-default {
  background-color: $yellow;
  color: $dark-blue;
  font-family: inherit;
  transition: all 0.3s;
  border: 0;
  border-radius: 8px;
  &:hover {
   	background-color: $dark-blue;
		color: #fff;
  }
}

.jumbotron-hero .btn-default:hover {
	background-color: #fff;
	color: $dark-blue;
  }  


.styled-yellow {
  background-color: $yellow;
  color: #484949 !important;
  font-family: inherit;
  transition: all 0.3s;
  border: 0;
  border-radius: 8px;
  text-decoration: none !important;
  &:hover {
   	background-color: darken($yellow, 5%);
  }
}

.jumbotron .btn-primary {
  background-color: $blue;
  color: #fff;
  font-family: inherit;
  transition: all 0.3s;
  border: 0;
  border-radius: 8px;
  &:hover {
   	background-color: $dark-blue;
  }
}


.styled-blue, .btn-primary {
  background-color: $blue;
  color: #fff !important;
  font-family: inherit;
  transition: all 0.3s;
  border: 0;
  border-radius: 8px;
  text-decoration: none !important;
  &:hover {
   	background-color: darken($blue, 10%);
		color: #fff;
  }
}


.jumbotron .btn, .styled-yellow, .styled-blue, .btn-primary {
	font-size: 0.9375em;
	text-transform: uppercase;
	padding: 0.8em 1.5em;
	min-width: 200px;
	margin-bottom: 1em;
	letter-spacing: 0.08em;
	font-weight: bold;
}

.jumbotron .text-link {
	 color: $dark-blue;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px $dark-blue solid;
    letter-spacing: 0.08em;
}

/* Hero Landing Page */

.jumbotron {
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center;
	background-color: $sand;
	color: inherit;
	// removed padding, to have consistent spacing to work with these templates
	padding: 0 !important;
}
.hm {
	padding: 0 0 !important;
	color: #fff !important;
	margin: 0 !important;
}
.jumbotron-hero-lg {
	background-image: url("../../img/gps-hero.jpg");
}
.jumbotron .text-indent-h1 h1 {
	text-transform: none;
	@media (max-width: $desktop-small) {
		font-size: 2.5em;
	}
	@media (max-width: $mobile) {
		font-size: 2em;
	}
}
.jumbotron .text-indent-h1 p {
	margin-left: 6.75em;
}
.jumbotron .text-indent-h1 a.btn {
	margin-left: 7.2em;
}
.jumbotron .text-indent-h2 p {
	margin-left: 3.6em;
}
.jumbotron .text-indent-h2 a.btn {
	margin-left: 4.4em;
}
.jumbotron .text-indent-h1 p, .jumbotron  .text-indent-h2 p {
	width: 19em;
}
.jumbotron .text-indent h1 span {
	margin-left: 1.65em;
}
.jumbotron-hero .text-indent h1, 
.jumbotron-hero .text-indent h2, 
.jumbotron-hero .text-indent h3, 
.jumbotron-image-bg .text-indent h1, 
.jumbotron-image-bg .text-indent h2, 
.jumbotron-image-bg .text-indent h3 {
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.75);
}
.jumbotron-hero .text-indent p , 
.jumbotron-image-bg .text-indent p {
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
}

.jumbotron {
	margin: 60px 0;
}

.jumbotron-hero,
.jumbotron-image-bg {
	p.rt-text-light,
	p.rt-text-dark {
		width: 19em;

		@media screen and (max-width: 900px) {
			width: 100%;
		}

		@media screen and (max-width: 768px) {
			width: 35em;
		}
	}
	.dark-blue-gradient {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(90deg, rgba(24,43,73,1) 0%, rgba(0,98,155,0) 100%);
		}
	}
}

/* Text and CTA w/Full Height Image Left */

.side-image-white {
	background-color: #fff;
	margin-top: 30px;
	h2 {
		color: $dark-blue;
		@media screen and (min-width: 992px) {
			margin-top: 50px;
		}
	}	
	img {
		border-radius: 14px;
		margin: 25px 0;
		max-width: 100%;
		height: auto;
	}
	p {
		color: $dark-blue;
	}
}
.jumbotron-gray {
	img {
		border-radius: 14px;
		margin: 25px 0;
		max-width: 100%;
		height: auto;
	}
}
.jumbotron-sand {
	h2 {
		color: $dark-blue;
		@media screen and (min-width: 992px) {
			margin-top: 50px;
		}
	}
	p {
		color: $darker-gray;
	}
	img {
		border-radius: 14px;
		margin: 25px 0;
		max-width: 100%;
		height: auto;
	}
}
.jumbotron p {
	margin-bottom: 15px;
	font-size: 1em;
}

.embed-video {
	margin: 23px 0;
    position: relative;
    padding-bottom: 51.10%; /* - 16:9 aspect ratio (most common) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
	 border-radius: 14px;
}

.embed-video iframe,
.embed-video object,
.embed-video embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* News with Images */

.jumbotron-news {
	background: #F5F0E6 !important;

	h2 {
		 margin-bottom: 1em;
		 margin-top: 1em;
		 text-transform: none;
		 font-weight: bold;
		 color: $dark-blue;
	}
	
	.panel.panel-default {
		 border: none;
		 background-color: transparent;
		 box-shadow: none;
		 margin-bottom: 0;
	
		img {
		 width: 100%;
		border-radius: 14px;
		margin: 0; 
		}
		
		.panel-heading {
			 padding: 10px 15px 25px 15px;
			 background-color: transparent;
			  border: none;
		}
		
		.panel-news-date {
			 text-transform: uppercase; 
			 color: $dark-blue;
			 font-size: 0.85em;
			 margin-bottom: 0.25em;
			 margin-top: 1em;
		}
		
		.panel-news-title {
			 text-transform: none;
			 margin-top: 0;
			 font-size: 1.25em;
			 line-height: 1.1em;
			 letter-spacing: .5px;
			 color: $dark-blue; 
			 
			 a {
				 color: $dark-blue; 
			 }
		}
		
		.panel-body {
			 padding: 0 15px 40px 15px;
			 color: $dark-blue;
			 font-size: 1.125em;
			 font-weight: bold;
			 line-height: 1.25em;
			 letter-spacing: .5px;
			 text-decoration: underline;
			 text-transform: uppercase;
		}
	
		&:hover h3{
			text-decoration: underline;
		}
	}
	
	.view-all-link {
		 margin-top: 4em;
	}

}

.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

.jumbotron .panel {border-radius: 0 !important;}

.panel-default>.panel-heading {
    color: $dark-blue;
}

@media (min-width: $desktop-small) {
	.jumbotron-news .panel.panel-default .panel-heading {
	    min-height: 135px;
	}
	.jumbotron-news .view-all-link {
		 margin-top: 2em;
	}
}
@media screen and (min-width: 992px) {
	.jumbotron-news .panel.panel-default img {
		transition: transform .2s ease-in-out;
	}

	.jumbotron-news .panel.panel-default:hover img {
		 transform: scale(1.1);
	}
}

/*  News feed  */
.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	grid-auto-rows: 1fr;
	margin: 0 15px;
}

@media(min-width:768px) {
	.card-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: 1fr;
		grid-gap: 0 30px;
	}	
}

@media(min-width:992px) {
	.card-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: 1fr;
		grid-gap: 0 30px;
	}
}

/* Callout Image Small Inset */

.jumbotron-callout-image-small-inset {
	background-image: url("../img/callout-content-two-bg.jpg");
	background-position: center center;
	background-size: cover;
	padding: 48px 0 !important;
	border-radius: 0 !important;
	h2 {
		color: $dark-blue;
	}
	h3, p, a {
		color: #484949;
	}
	.panel {
		margin: 0 15px;
		border-radius: 14px !important;
	}
	.panel.panel-default .panel-body {
		padding: 1em 2em;
	}
	.btn-default:hover {
		background-color: $dark-blue;
		color: #fff;
	}
}

/* Callout Content One */

.jumbotron-callout-content-one {
	background-color: #182B49;
	background-image: url("../img/txt-navy-grit-mobile.jpg");
  	background-position: center;
	color: #fff;
	padding: 30px 0 !important;
	border-radius: 0 !important;

	.col-md-10 {
		margin-left: 19px;
	}
	
	h2, h3, h4, h5, h6, p, li, a:hover {color: #fff;}

	a {color: #FFF; text-decoration: underline !important;}

	a:hover {color: #FFF; text-decoration: underline !important;}

	a.btn {text-decoration: none !important;}

	a.btn:hover {text-decoration:none;}

	.panel {
		background-color: transparent !important;
		margin: 0 15px 20px 15px;
		box-shadow: none;
		border: 0;
	}
	.panel.panel-primary .panel-body {
		padding: 0em 1em ;
	}
	.panel.panel-primary .panel-body p {
		font-size: 1.125em;
		color: #fff;
	}

	
	.text-indent {
		margin-left: 50px;
	} 



	@media (min-width: 768px) {
		background-image: url("../img/txt-navy-grit.jpg");
	}

	@media (max-width: 768px) {

		img { 
			max-width: 100%;
			height: auto;
		}

	}
}



.navy-yellow {
	background-image: url("../img/txt-navy-yellow-grit-mobile.jpg");
}

.solid-navy {
	background-image: none !important;
}

.blue-navy {
	background-image: url("../img/txt-lightblue-dark-grit-mobile.jpg");
}

.navy-orbs {
	background-image: url("../img/bg-orbs-1-mobile.jpg");
}

@media (min-width: 768px) {

	.navy-yellow {
		background-image: url("../img/txt-navy-yellow-grit.jpg");
	}

	.solid-navy {
		background-image: none !important;
	}

	.blue-navy {
		background-image: url("../img/txt-lightblue-dark-grit.jpg");
	}

	.navy-orbs {
		background-image: url("../img/bg-orbs-1.jpg");
	}
}


.cc-yellow-trident {
	background-image: url("../img/bg-dark-blue-trident-full-mobile.png");
}

.cc-yellow-trident {
	color: $darker-gray;
	background-color: #f5f5f5;
	background-image: url("../img/bg-yellow-trident-full.png");

	h2, h3, h4, h5, h6, p, li, a:hover {color: $darker-gray;}

	.panel.panel-primary .panel-body p {
		color: $darker-gray;
	}
	a {color: $darker-gray; text-decoration: underline !important;}

	a:hover {color: $darker-gray; text-decoration: underline !important;}
}

.cc-dark-blue-trident {
	background-color: #182b49;
	background-image: url("../img/bg-white-trident-full.png");
}

.cc-dark-blue-library {
	background-color: #182b49;
	background-image: url("../img/dark-blue-library.png");
}

.cc-blue-library-light {
	background-image: url("../img/dark-blue-library.png");
}

.cc-custom-background {
	background-size:cover;
}

/* Callout Content Two */

.jumbotron-callout-content-two {
	background-image: url("../img/callout-content-two-bg.jpg");
	background-position: center center;
	background-size: cover;
	padding: 48px 0 !important;
	border-radius: 0 !important;
		h2 {
			margin-top: 0;
			text-shadow: 0 0 25px rgba(0,0,0,0.75);
			margin-bottom: 20px;
		}
		h3 {
			margin-top: 14px;
		}
		.panel {
			border: none;
		}
		.panel.panel-primary {
			background-color: $blue;
			border-radius: 14px !important;
			.panel-text {
				margin-bottom: 2.5rem;
			}
		}
		.panel.panel-primary .panel-body {
			padding: 1em 2em;
		}
		.panel.panel-primary .panel-body .btn {
			margin-bottom: 0;
		}
		.panel.panel-primary .text-link {
			color: #fff;
		}
		.panel.panel-primary .text-right {
			margin-bottom: 0.25em;
		}
		.panel-primary .text-link {
				border-bottom: 1px #fff solid;
		}
}
.jumbotron-callout-content-two h2, 
.jumbotron-callout-content-two h3, 
.jumbotron-callout-content-two p {
	color: #fff;
}

.cta-two-three {

 a {
	color: #FFF;
	text-decoration: underline !important;
}

 p {
	color: #fff !important;
	&:last-of-type {
		margin-bottom: 15px !important;
	}
}

.text-link {
	text-decoration: none !important;
}

}
.ct4-light-bg {
	background-image: none !important;
	background-color: #fff !important;
	h2,
	p {
		color: $dark-blue;
		text-shadow: none;
	} 
}

.panel-darker {
	background-color: #00629B !important;
}

.text-indent h2 span, .text-indent .h2 span {
    margin-left: 2em;
}

.jumbotron-callout-content-two.jumbotron-orbs-1 {
	background-image: url(../img/bg-orbs-1-mobile.jpg) !important;
	background-position: center;
}

@media screen and (min-width: 768px) {
	.jumbotron-callout-content-two {
		.text-indent {
			margin-bottom: 1.5em;
		}
	}
	.jumbotron-callout-content-two.jumbotron-orbs-1 {
		background-image: url("../img/bg-orbs-1.jpg") !important;
		background-position: right bottom;
	}
}

@media screen and (min-width: 992px) {
	.text-lg-right {
		text-align: right;
	}
	.jumbotron-callout-content-two.jumbotron-orbs-1 {
		background-position: center;
	}
}

/* Jumbotron full-width */

.jumbotron-full-width {
    background-color: $sand;
	 border-radius: 0 !important;
    padding: 2em !important;
	 background-image: none;
}
.jumbotron-full-width.bubbles {
	 background-image: none;
}
.jumbotron-full-width.side-image-white {
	h2 {
		 margin-top: 23px;
	 }
}
 @media screen and (min-width: 768px) {
	 .jumbotron-full-width.bubbles {
		 background-image: url("../img/full-width-bubbles.png");
	}
	.jumbotron-full-width,  
	.jumbotron-full-width.trident {
		 background-image: url("../img/full-width-grit-yellow.png");
	}
}

.jumbotron-full-width-ni {
    background-color: #f5f5f5;
		border-radius: 0 !important;
    padding: 2em !important;

		h2{
			margin: 0 0 30px 0;
		}
}

/* Multiple Listings Module */
 .event-listing {
	 padding: 2em 0 1em 0;
	 border-bottom: 1px solid #ddd;
	 figure {
	  margin-bottom: 15px;
	 } 
	  img {
		  border-radius: 14px;
		  width: 100%;
		  margin: 0;
	  }
	  h2 {
			font-family: Roboto, sans-serif;
			margin: 0;
			font-size: 21px;
			font-weight: bold;
			a {
				 color: $dark-blue;
				 text-decoration: none;
				 &:hover {
					  text-decoration: underline !important;
				 }
			}
	  }
	  .date-time {
			margin-bottom: 10px;
	  }
	  &:last-of-type {
			border-bottom: none;
	  }
}

/* Listing Details Template */
 .event-dtl {
	 margin-top: 20px;
    dt {
	 	 margin-top: 10px;
		  color: $dark-blue;
 	 }
	 img {
		 border-radius: 14px 14px 0 0;
		 width: 100%;
	 }
	 .btn-primary {
		background-color: $blue;
		color: #fff;
		font-family: inherit;
		transition: all 0.3s;
		border: 0;
		border-radius: 8px;
		&:hover {
			background-color: $dark-blue
		}
	 }
	 .event-info {
		 background-color: $sand;
		 padding: 2em 2.5em;
		 margin-bottom: 3em;
		 border-radius: 0 0 14px 14px;
		 a.btn {
				width: 100%;
		 }
		 p {
			  font-size: 1.25em;
			  line-height: 1.5;
			  font-weight: 500;
			  margin: 0;
			  padding: 5px 0 20px 0;
			  color: $dark-blue;
		 }
		 h1 {
			  margin: 0;
			  font-size: 30px;
			  line-height: 1em;
			  color: $dark-blue;
		 }
		 h4 {
			  margin-top: 5px;
		 }
	 }
}
 .event-content {
	p {
	 	font-size: 1em;
 	}
	 a {
		 color: $blue;
	 }
	h2 {
		font-size: 1.5em;
		font-family: "Roboto", sans-serif;
		font-weight: bold;
	} 
	.panel {
		 border: none;
		 box-shadow: none;
	}
	.panel-body {
		 padding: 0;
		 font-weight: 400;
	}
}

 @media screen and (min-width: 768px) {
	.event-dtl { 
	 	.event-info {
			h2 {
		 		margin: 6px 0 0 0;
		 	}
			a.btn {
				 margin: 0;
				 width: auto;
			} 
			p {
				padding: 5px 0 0 0;
			} 
			.flex-container {
				 display: flex;
				 align-items: center;
			}
		}
	}	
}
 @media screen and (min-width: 992px) {
	 .event-dtl { 
		margin-top: 60px;
	 	.event-content {
			.panel {
		 	   box-shadow: none;
		 	   border-left: 1px solid #ccc;
			} 
			.panel-body {
				 padding-left: 30px;
				 h2 {
					  margin-top: 0;
					  font-size: 1.5em;
				 }
			}
		}
	}
}

/* Callout Content Blocks Module */
.jumbotron-tile-links {
	background-color: #fff;
}
.jumbotron-tile-links .flex {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.jumbotron-tile-links .wrapper {
	width: 100%;
	position: relative;
	margin: 1.15%;
}
.main-section .jumbotron-tile-links .tiles-row {
	padding: 0 5px;
}
.jumbotron-tile-links .background-image {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 14px;
}
.jumbotron-tile-links .wrapper:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(24,43,73,.5);
	border-radius: 14px;
	display: block;
}
.jumbotron-tile-links .text-indent {
	margin-bottom: 1.5em;
}
.jumbotron-tile-links .text-indent h2 span {
	margin-left: 0;
}
.jumbotron-tile-links h2 {
	font-family: Teko-SemiBold,sans-serif;
	font-size: 2.5em;
	text-align: left;
	display: block;
	position: relative;
	line-height: .9em;
}
.jumbotron-tile-links .tiles h2, 
.jumbotron-tile-links .tiles h3 {
	font-family: Roboto,sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.35em;
	text-transform: none;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}
.jumbotron-tile-links h2 a,
.jumbotron-tile-links h3 a { 
	color: #fff;
	padding: 1em;
	display: flex;
	 height: 100%;
	 width: 100%;
	 text-align: center;
	 align-items: center;
	 justify-content: center;
}
.jumbotron-tile-links .flex h2 a:hover,
.jumbotron-tile-links .flex h2 a:focus,
.jumbotron-tile-links .flex h2 a:active,
.jumbotron-tile-links .flex h3 a:active, 
.jumbotron-tile-links .flex h3 a:focus, 
.jumbotron-tile-links .flex h3 a:hover {
	text-decoration: underline;
}

@media (max-width:768px){ 
	.jumbotron-tile-links .flex {
		flex-direction: column;
	}
}
@media (min-width:769px){ 
	.jumbotron-tile-links .wrapper {
		width: 48%;
	}
}
@media (min-width:992px){ 
	.jumbotron-tile-links .wrapper {
		width: 31%;
		transition: transform .2s linear;
	}
	.jumbotron-tile-links .wrapper:hover {
		transform: scale(1.1);
	}
	.jumbotron-tile-links .text-lg-right {
		margin-top: 25px;
	}
}
.jumbotron-tile-links .wrapper.tile-blue-bg::before {
	background: #00629B;
}
.jumbotron-tile-links .wrapper.tile-navy-bg::before {
	background: #182B49;
}
.jumbotron-tile-links .wrapper.tile-turquoise-bg::before {
	background: #00C6D7;
}
.jumbotron-tile-links .wrapper.tile-yellow-bg::before {
	background: #FFCD00;
}
.jumbotron-tile-links .tile-turquoise-bg h2 a, 
.jumbotron-tile-links .tile-yellow-bg h2 a, 
.jumbotron-tile-links .tile-turquoise-bg h3 a, 
.jumbotron-tile-links .tile-yellow-bg h3 a {
	color: #000;
}
.jumbotron-tile-links.tile-module-white {
	background: #fff;
}
.jumbotron-tile-links.tile-module-sand {
	background: #F5F0E6;
}
.jumbotron-tile-links.tile-module-navy {
	background: #182B49;
}
.jumbotron-tile-links>.container {
	padding: 15px 15px 25px;
}
.jumbotron-tile-links.tile-module-navy .text-indent, 
.jumbotron-tile-links.tile-module-navy .text-indent h2 {
	color: #fff;
}