@import url(https://fonts.googleapis.com/css?family=Lato:400);

h1 {
  color: #4D4E4E;
  font-family: 'Lato', sans-serif;
}

h2, h3, h4, h5, h6 {
  color: #707071;
  font-family: 'Lato', sans-serif;
}

div.styled {
  background: #fcfbfd;
}

div.styled h2 {
  color: #5b5c5c;
}

a:link, a:visited, .widget_content a:link, .widget_content a:visited {
  color: #4765ad;
}

.flexslider a {
  color: #FFF;
}

.layout-title {
  background: #fff;
}

  .layout-title a.title-header {
    font-family: 'Lato', sans-serif;
    color: #12215b;

    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
  }

  .layout-title .title-logo {
    background: transparent url(../img/sprite_base-white.png) no-repeat;
  }

.layout-navbar {
  background: #376791;
  border-top: 1px solid #ccc;
}
  .layout-navbar ul.navbar-list > li > a {
    padding: 9px 15px 8px;
  }
  /* depth of selectors to override layout.scss */
  .navdrawer-container ul.navbar-list ul.navbar-sublist {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #808080;
  }

/* search modifications */
.search-toggle,
.search-toggle:hover,
.search-toggle:focus {
  background: 0 0;
  border: 1px solid transparent
}
.btn-default, .btn-default:focus, .btn-default:hover {
  color:#FFF;
}
  .search-toggle.search-is-open {
    background-color: #DFE2E4;
    color: #004b6e;
  }

.layout-title button.btn-nav,
.layout-title button.btn-nav:active {
  background-color: #376791;
}

.main-section-content a {
    color: #1550E0;
}

.drawer h2 {
  font-size: 21px !important;
}

@media only screen and (max-width: 768px) {
  .layout-title .title-logo {
    top: 10px;
  }
}
@media only screen and (max-width: 360px) {
  .layout-title .title-logo {
    background-position: -239px -14px;
    height: 32px;
    width: 166px;
  }
}

/*---------------------------------------------------------------------
 * retina display
 */
@media screen and (-webkit-min-device-pixel-ratio:2) {
  .layout-title .title-logo {
    background-image: url(../img/sprite_base-white-2x.png);
    background-size: 500px 120px;
  }
}
