/**********************************************************************
 * CSS Styling for the drawer widget.
 */
.drawer-wrapper {
	margin-bottom: 1em;
}

.drawer {
	//border-bottom: 1px solid #ccc;
}

/* header */
.drawer h2 {
	//border-top: 1px solid #ccc;
	text-transform: none;
	font-weight: normal;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding: .1em 0;
	zoom: 1;
}

/* default state */
.drawer h2 a {
	background-position: 5px  12px;
	display: block;
	padding: 10px 0 10px 30px;
	text-decoration: none;
	color: #fff;
	background-color: $blue;
	&:hover {
		background-color: darken($blue, 10%);
	}
}

/* ie7 hack */
*:first-child+html .drawer h2 a {
	display: inline-block;
}

/* expanded state */
.drawer h2.expand {
	//background-color: $blue;
}

.drawer h2.expand a {
	background-position: 5px -86px;
	padding: 10px 0 10px 30px;
	color: #fff;
	background-color: darken($blue, 10%);
}

/* hover state */
.drawer h2:hover,.drawer h2:active {
	background-color: transparent;
	cursor: pointer;
	color: #fff;
}

.drawer h2.expand:hover,.drawer h2.expand:active {
	//background: $blue;
}

/* content background */
.drawer > div,
.drawer > article {
	padding: 1em 2em;
}

.drawer > div.cols_wrapper {
	padding: 1em 0;
}

/* toggle links */
.drawer-toggle {
	font-size: 90%;
	padding: .5em 0;
}

.drawer-toggle a {
	color: #666;
}

.drawer-toggle a:hover,.drawer-toggle a:active {
	color: #016691;
}

.drawer-toggle a {
	background-position: 0 -215px;
	padding-left: 16px;
}

.drawer-toggle a.expand {
	background-position: 0 -200px;
}

/* light theme */
.drawer-wrapper .drawer.light-theme {
	> div {
		margin-bottom: 16px;
		border-left: 1px solid #e3e3e3;
		border-right: 1px solid #e3e3e3;
		border-bottom: 1px solid #e3e3e3;
		background-color: #fcfcfc;
		padding: 0.5em 70px 0em 1em;
	}

	h2 {
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 16px;
		padding-bottom: 0;
		background-color: #e8e8e8;
		position: relative;
	}

	h2:after {
		content: " ";
		position: absolute;
		right: 1.3em;
		top: 1.3em;
		display: block;
		width: 30px;
		height: 25px;
		background: url(../img/expand.svg) no-repeat;
	}

	h2.expand {
		margin-bottom: 0;
	}

	h2.expand:after {
		content: " ";
		position: absolute;
		right: 1.3em;
		top: 1.3em;
		display: block;
		width: 30px;
		height: 25px;
		background: url(../img/collapse.svg) no-repeat;
	}

	h2 a {
		font-weight: bold;
		background-color: #e8e8e8;
		color: #333;
		line-height: 1.8em;
		background: none;
		padding: 1em 70px 1em 1em;
	}

	h2 a:hover {
		background-color: #e8e8e8;
	}
}