/**********************************************************************
 * CSS Styling for the drawer widget.
 */
.drawer-wrapper {
	margin-bottom: 1em;
}

.drawer {
	border-bottom: 1px solid #ccc;
}

/* header */
.drawer h2 {
	border-top: 1px solid #ccc;
	font-weight: normal;
	margin-bottom: 0;
	padding: .2em 0;
	zoom: 1;
	font-size: 24px;
}

/* default state */
.drawer h2 a {
	background-position: 0 4px;
	display: block;
	padding-left: 20px;
	text-decoration: none;
}

/* ie7 hack */
*:first-child+html .drawer h2 a {
	display: inline-block;
}

/* expanded state */
.drawer h2.expand {
	background-color: #0B4A67;
}

.drawer h2.expand a {
	background-position: 0 -96px;
	color: #fff;
}

/* hover state */
.drawer h2:hover,.drawer h2:active {
	background-color: #F0FAFF;
	cursor: pointer;
}

.drawer h2.expand:hover,.drawer h2.expand:active {
	background: #0B4A67;
}

/* content background */
.drawer > div,
.drawer > article {
	padding: 1em 2em;
}

.drawer > div.cols_wrapper {
	padding: 1em 0;
}

/* toggle links */
.drawer-toggle {
	font-size: 90%;
	padding: .5em 0;
}

.drawer-toggle a {
	color: #666;
}

.drawer-toggle a:hover,.drawer-toggle a:active {
	color: #016691;
}

.drawer-toggle a {
	background-position: 0 -217px;
	padding-left: 16px;
}

.drawer-toggle a.expand {
	background-position: 0 -201px;
}
