.breadcrumb {
	font-size: 11px;
}

/**********************************************************************
 * CSS Styling for the bread crumbs
 */

#tdr_crumbs {
	background: #fff;
}

#tdr_crumbs ul {
	list-style: none;
	margin-bottom: 0;
	padding-top: 1em;
}

#tdr_crumbs li {
	color: #666;
	display: inline;
	font-size: 80%;
	line-height: 1;
	list-style: none;
	margin-left: 0;
	text-transform: capitalize;
}

#tdr_crumbs li a {
	background: url(img/sprite_icon.png) no-repeat scroll right 5px transparent;
	padding-right: .8em;
	text-decoration: none;
}

#tdr_crumbs li a:hover {
	text-decoration: underline;
}