#tdr_crumbs {
	ol, ul {
		list-style: none;
		margin-bottom: 0;
		padding: 1em 0 0;
		margin-left: 0;
	}

	li {
		color: #666;
		display: inline;
		font-size: 80%;
		line-height: 1;
		list-style: none;
		margin-left: 0;
		text-transform: capitalize;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
