/**********************************************************************
 * footer style
 */
footer, #tdr_footer {
	border-top: 1px solid #ccc;
	color: #999;
	padding-bottom: 1em;
	line-height: 1.5;
	background-color: #fff;
}

footer a, #tdr_footer a {
	text-decoration: none;
}

footer a:hover, footer a:focus, #tdr_footer a:hover,#tdr_footer a:focus {
	text-decoration: underline;
}

#tdr_footer_content {
	font-size: 90%;
	text-align: left;
	padding: 1em 0;
	background: 0;

	@media only screen and (min-width: $tablet) {
		background: transparent url(img/sprite_base.png) right -74px no-repeat;

		@media screen and (-webkit-min-device-pixel-ratio:2) {
			background-image: url(img/sprite_base2x.png);
			background-size: 500px 120px;
		}
	}


}

/* footer links */
#tdr_footer_links {
	list-style: none;
	margin: .5em 0 0 0;
	padding: 0;
}

#tdr_footer_links li {
	border-right: 1px solid #ccc;
	display: inline;
	margin-left: 0;
	margin-right: .5em;
	padding-right: .75em;
}

#tdr_footer_links #tdr_footer_feedback {
	border-right: none;
}

/* retina display */
