/**********************************************************************
 * CSS Layout and styles for main sections
 *********************************************************************/

/**********************************************************************
 * body - defaults
 */
main, footer, #tdr_login,#tdr_title,#tdr_search,#tdr_crumbs,#tdr_content,#tdr_footer {
  overflow: hidden;
  width: 100%;
}

#tdr_nav {
  width: 100%;
}

/* default layout */
body #tdr_login_content,body #tdr_title_content,body #tdr_nav_content,body #tdr_search_content,body #tdr_crumbs_content,body #tdr_content_content,body #tdr_footer_content {
  margin: 0 auto;
  max-width: $desktop;
  width: 98%;

  @media screen and (min-width: $full) {
    max-width: $full;
  }
}


/* fluid layout */
body.fluid #tdr_login_content,body.fluid #tdr_title_content,body.fluid #tdr_nav_content,body.fluid #tdr_search_content,body.fluid #tdr_crumbs_content,body.fluid #tdr_content_content,body.fluid #tdr_footer_content {
  max-width: none;
  width: 98%;
}

/* wide fluid layout */
body.wide main, body.wide #tdr_login, body.wide #tdr_title, body.wide #tdr_search, body.wide #tdr_crumbs, body.wide #tdr_content {
  overflow: visible;
}

/**********************************************************************
 * column layout
 */
.col {
  overflow: hidden;
  position: relative;
}

#col_nav {
  overflow: hidden;
}

/**********************************************************************
 * 3 column layout - (25/55/20) with newer id and class names
 */
/* center column */
#cols_3 #col_content {
  float: left;
  left: 25%;
  width: 55%;
}

/* left column */
#cols_3 #col_nav {
  float: left;
  left: -55%;
  width: 23%;
}

/* right column */
#cols_3 #col_supplemental {
  float: right;
  width: 18%;
}

/**********************************************************************
 * 2 column layout (25/75)- with newer id and class names
 */

/* center column */
#cols_2 #col_content {
  float: left;
  left: 25%;
  width: 75%;
}

#cols_2 #col_nav {
  float: left;
  left: -75%;
  width: 23%;
}

/**********************************************************************
 * Equal column layout
 */
.cols_wrapper {
  overflow: hidden;
  width: 100%;
}


/**********************************************************************
 * 2 equal column layout (50/50)- with newer id and class names
 */

.col_1_of_2 {
  float: left;
  left: 0;
  width: 49%;
}

.col_2_of_2 {
  float: right;
  right: 0;
  width: 49%;
}

/**********************************************************************
 * 3 equal column layout (33/33/33)- with newer id and class names
 */
.col_1_of_3 {
  float: left;
  left: 0;
  width: 32%;
}

.col_2_of_3 {
  float: left;
  left: 2%;
  width: 32%;
}

.col_3_of_3 {
  float: right;
  right: 0;
  width: 32%;
}

.col_1_of_2,.col_2_of_2,.col_1_of_3,.col_2_of_3,.col_3_of_3 {

	@media only screen and (max-width: 480px) {
		float: none;
		left: 0;
		width: 100%;
	}
}

/**********************************************************************
 * multi column layout - with older id and class names
 */
#tdr_2_col_content,#tdr_2_col_nav,#tdr_3_col_content,#tdr_3_col_supplement,#tdr_3_col_nav {
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
}

/**********************************************************************
 * left column max width image
 */

#tdr_2_col_nav img, #tdr_3_col_nav img {
  max-width: 100%;
}

/**********************************************************************
 * 3 column layout (25/55/20) - with older id and class names
 */

/* nav */
#tdr_3_col_nav {
  float: left;
  width: 23%;
}

/* wrapper for content and supplement */
#tdr_3_col_wrap {
  float: right;
  position: relative;
  width: 75%;
}

/* content */
#tdr_3_col_content {
  float: left;
  width: 75%;
}

/* supplement */
#tdr_3_col_supplement {
  float: right;
  width: 23%;
}

/**********************************************************************
 * 2 column layout - with older id and class names
 */
#tdr_2_col_content {
  float: right;
  width: 75%;
}

#tdr_2_col_nav {
  float: left;
  width: 23%;
}

/**********************************************************************
 * responsive design
 */

/* --------------------------------------------------------------------
 * 1px - *
 */
@media only screen {
  body #tdr_login_content,body #tdr_title_content,body #tdr_nav_content,body #tdr_search_content,body #tdr_crumbs_content,body #tdr_content_content,body #tdr_footer_content,body.fluid #tdr_login_content,body.fluid #tdr_title_content,body.fluid #tdr_nav_content,body.fluid #tdr_search_content,body.fluid #tdr_crumbs_content,body.fluid #tdr_content_content,body.fluid #tdr_footer_content
  {
    width: 98%;
  }
}

/* --------------------------------------------------------------------
 * * - 768px
 */
@media only screen and (max-width: 768px) { /* layout - new 3 columns */

  body #tdr_login_content,body #tdr_title_content,body #tdr_nav_content,body #tdr_search_content,body #tdr_crumbs_content,body #tdr_content_content,body #tdr_footer_content,body.fluid #tdr_login_content,body.fluid #tdr_title_content,body.fluid #tdr_nav_content,body.fluid #tdr_search_content,body.fluid #tdr_crumbs_content,body.fluid #tdr_content_content,body.fluid #tdr_footer_content
  {
    width: 94%;
  }

  /* center column */
  #cols_3 #col_content {
    left: 0;
    width: 75%;
  }

  /* left column */
  #cols_3 #col_nav {
    clear: both;
    float: none;
    left: 0;
    width: 100%;
  }

  /* right column */
  #cols_3 #col_supplemental {
    width: 23%;
  }

  /* layout - old 3 columns */
  #tdr_3_col_wrap {
    float: none;
    width: 100%;
  }
  #tdr_3_col_nav {
    clear: both;
    float: none;
    width: 100%;
  }
}

/* --------------------------------------------------------------------
 * * - 640px
 */
@media only screen and (max-width: 640px) { /* layout - 3 columns */
  /* center column */
  #cols_3 #col_content {
    float: none;
    left: 0;
    width: 100%;
  }

  /* right column */
  #cols_3 #col_supplemental {
    float: none;
    left: 0;
    width: 100%;
  }

  /* layout - 2 columns */
  /* center column */
  #cols_2 #col_content {
    float: none;
    left: 0;
    width: 100%;
  }
  #cols_2 #col_nav {
    float: none;
    left: 0;
    width: 100%;
  }

  /* layout - old 3 columns */
  #tdr_3_col_content,#tdr_3_col_supplement {
    clear: both;
    float: none;
    width: 100%;
  }

  /* layout - old 2 columns */
  #tdr_2_col_content,#tdr_2_col_nav {
    clear: both;
    float: none;
    width: 100%;
  }
}



/**********************************************************************
 * CSS Styling for the login header
 */
#tdr_login {
  background: #0B4A67;
}

#tdr_login_content {
  color: #fff;
  font-size: 85%;
  padding: .5em 0;
  text-align: right;
}

#tdr_login_content a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}




/*** ESSENTIAL STYLES ***/


/**********************************************************************
 * CSS Styling for the content
 */

main, #tdr_content {
  background: #fff;
  padding: 1em 0;
}

#tdr_content_content {
  line-height: 1.4;
}

/* --------------------------------------------------------------------
 * * - 768px
 */
@media only screen and (max-width: 768px) {
  #tdr_content_content img {
    max-width: 100% !important;
    height: auto !important;
  }
  #main_menu_list li a { background-size:52px 52px }
}

/* --------------------------------------------------------------------
 * * - 480px
 */
@media only screen and (max-width: 480px) {
  #tdr_content_content {
    line-height: 1.6;
  }
}
/* --------------------------------------------------------------------
 * * - 641px
 */
@media only screen and (min-width: 641px) {
  /* telephone number links */
  a.tel { pointer-events: none; cursor: default; color: #333; text-decoration: none; }
}



/* --------------------------------------------------------------------
 * * - 768px
 */
@media only screen and (max-width: 768px) {
  #cols_3 #col_nav #page_nav *,#tdr_3_col_nav #page_nav * {
    background: #ECF5FE;
    border: none;
  }
  #cols_3 #col_nav #page_nav,#cols_3 #col_nav #page_nav ul,#tdr_3_col_nav #page_nav,#tdr_3_col_nav #page_nav ul {
    border: none;
    margin: 0;
  }
  #cols_3 #col_nav #page_nav li,#tdr_3_col_nav #page_nav li {
    color: #333;
    list-style-type: disc;
    margin-left: 2em;
    padding-left: 0;
  }
  #cols_3 #col_nav #page_nav li a,#tdr_3_col_nav #page_nav li a,#cols_3 #col_nav #page_nav li a:hover,#tdr_3_col_nav #page_nav li a:hover {
    color: #06c;
    text-decoration: underline;
    padding-left: 0;
  }
  #cols_3 #col_nav div.styled,#tdr_3_col_nav div.styled {
    border: none;
    padding: 0;
  }
  #cols_3 #col_nav div.styled,#tdr_3_col_nav div.styled {
    background: none;
  }
  #cols_3 #site-logo,#tdr_3_col_nav #site-logo {
    display: none;
  }
  #cols_3 #col_nav #page_nav *,#cols_3 #page_nav li.expanded,#cols_3 #page_nav li.collapsed,#cols_3 #page_nav li.active,#cols_3 #page_nav li.active ul,#cols_3 #page_nav li a:hover,#tdr_3_col_nav #page_nav *,#tdr_3_col_nav #page_nav li.expanded,#tdr_3_col_nav #page_nav li.collapsed,#tdr_3_col_nav #page_nav li.active,#tdr_3_col_nav #page_nav li.active ul,#tdr_3_col_nav #page_nav li a:hover
  {
    background-color: #fff;
    background-image: none;
  }
}

/* --------------------------------------------------------------------
 * * - 640px
 */
@media only screen and (max-width: 640px) {
  #cols_2 #col_nav #page_nav *,#tdr_2_col_nav #page_nav * {
    background: #ECF5FE;
    border: none;
  }
  #cols_2 #col_nav #page_nav,#cols_2 #col_nav #page_nav ul,#tdr_2_col_nav #page_nav,#tdr_2_col_nav #page_nav ul {
    border: none;
    margin: 0;
  }
  #cols_2 #col_nav #page_nav li,#tdr_2_col_nav #page_nav li {
    color: #333;
    list-style-type: disc;
    margin-left: 2em;
    padding-left: 0;
  }
  #cols_2 #col_nav #page_nav li a,#tdr_2_col_nav #page_nav li a,#cols_2 #col_nav #page_nav li a:hover,#tdr_2_col_nav #page_nav li a:hover {
    color: #06c;
    text-decoration: underline;
    padding-left: 0;
  }
  #cols_2 #col_nav div.styled,#cols_2 #col_nav div.styled li,#cols_2 #col_nav div.styled li a,#tdr_2_col_nav div.styled,#tdr_2_col_nav div.styled li,#tdr_2_col_nav div.styled li a {
    background: none;
  }
  #cols_2 #col_nav div.styled,#tdr_2_col_nav div.styled {
    border: none;
    padding: 0;
  }
  #cols_2 #site-logo,#tdr_2_col_nav #site-logo {
    display: none;
  }
  #cols_2 #col_nav #page_nav *,#cols_2 #page_nav li.expanded,#cols_2 #page_nav li.collapsed,#cols_2 #page_nav li.active,#cols_2 #page_nav li.active ul,#cols_2 #page_nav li a:hover,#tdr_2_col_nav #page_nav *,#tdr_2_col_nav #page_nav li.expanded,#tdr_2_col_nav #page_nav li.collapsed,#tdr_2_col_nav #page_nav li.active,#tdr_2_col_nav #page_nav li.active ul,#tdr_2_col_nav #page_nav li a:hover
  {
    background-color: #fff;
    background-image: none;
  }
}

/**********************************************************************
 * environment style
 */
#tdr_env {
  background-color: #333;
}

#tdr_env,#tdr_env a {
  color: #fff;
}

#tdr_env_detail a {
  text-decoration: underline;
}

#tdr_env_detail {
  padding: 1em;
}

#tdr_env_detail.hide {
  display: none;
}

#tdr_env_link {
  cursor: pointer;
  font-size: 85%;
  padding: .5em 0;
  text-align: center;
}