@media print {

	/**********************************************************************
	 * Print Styles
 	 */
	/* reset background and float elements */
	html, footer, footer *, #tdr_title *,#tdr_footer, #tdr_footer * {
		background-color: transparent !important;
		background-image: none !important;
		overflow: visible !important;
		color: lime;
	}

	#col_content,#col_supplemental,
	#col_nav,.col,#tdr_3_col_wrap,
	#tdr_3_col_content,#tdr_3_col_supplement,#tdr_3_col_nav
		{
		left: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
	}

	/* hide env, login, nav, search, crumbs and page nav section */
	#tdr_env,#ucsd-emergency,#tdr_login,#search,#tdr_nav,#tdr_search,#page_nav_div {
		display: none !important;
	}

	/* hide title bottom border */
	#tdr_title {
		background: none;
		border-bottom: 0;
	}

	/* reset font color */
	#tdr_title_page_title a,h1,h2,h3,h4,h5,h6,p {
		color: #000;
	}

	#tdr_content_content {
	   width: 99.99% !important;
	}

	/* reset h2 header */
	h2.header {
		background: none;
		border-bottom: 1px solid #369;
		color: #000;
		padding: 0;
	}

	/* reset horizontal ruler */
	hr {
		background-color: #ccc !important;
	}

	/* reset external links */
	a[target="_blank"] {
		padding-right: 0;
	}

	/* reset msg header */
	.msg h4 {
		padding-left: 0;
	}

	/* reset styled div */
	div.styled {
		background: none;
	}

	/* hide footer links */
	#tdr_footer_links {
		display: none;
	}
}
