/*
 * Consolidating image references
 * to a singular location
 *
 * minimizes number of calls sent to reference images
 */

// sprite_base & sprite_base2x
#tdr_title_ucsd_title, #tdr_title_menu_link,
#tdr_footer_content {
    background: url(img/sprite_base.png) no-repeat transparent;

    @media screen and (-webkit-min-device-pixel-ratio:2) {
        background-image: url(img/sprite_base2x.png);
        background-size: 500px 120px;
    }
}

// sprite_icon
a[target="_blank"],
.msg h4, .icon {
    background: url(img/sprite_icon.png) no-repeat transparent;
}

// sprite_icon_widget
.drawer-toggle a, .drawer h2 a,
.sf_all_collapsed, .sf_one_collapsed,
.sf_all_expanded, .sf_one_expanded,
.flex-pauseplay a{
    background: url(img/sprite_icon_widget.png) no-repeat transparent;
}

// sprite_social
.social-list li {
    background: url(img/sprite_social.png) no-repeat transparent;
}

// asterisk
.field .required, .field_top .required,
.icon.asterisk {
    background: url(img/asterisk.png) no-repeat transparent;
}

// icon_loading & icon_loading_inline
div.loading {
  background: url(img/icon_loading.gif) no-repeat transparent;
}
span.loading {
  background: url(img/icon_loading_inline.gif) no-repeat transparent;
}
