#tdr_search_toggle { //toggle button
	border-radius : 0;
	padding: 8px;
	background: none;
    border: 1px solid transparent;
    border-width: 0 1px 0 1px;
	outline: 0;
	max-height: $nav-height;
}

.btn-s {
  border: solid #ccc !important;
  border-width: 0 1px !important;
}

.tdr_search { //common styling to both search forms
	.dropdown {
		@media screen and (min-width: 768px) {
			margin-right: 10px;
		}
	}

	.dropdown-menu {
		@media screen and (max-width: 768px) {
		}

		@media screen and (min-width: 768px) {
			width: 150px;
		}
	}

	.search-scope {
        height: 27px;
		max-width: 99px;
		font-size: 11px;
		padding: 4px 2px 4px 0;
		float: left;
        height: 27px;
	}

	.input-group {
		float: right;
	}

	form {
		margin: 0;
	}

	.form-control {
		float: right;
		border-radius: 0;
		height: 26px;

		.lt-ie8 & {
			height: 10px;
		}
	}
}

#tdr_nav { //top nav search
	.tdr_search {
		float: right;
		position: relative;
		max-width: 380px;

		#tdr_search_content {
			z-index: 2;
			position: absolute;
			right: 0;
			top: $nav-height;
			float: left;
			width: 385px;
			padding: 10px;
			background-color: $search-bg;
            border: solid #ccc;
			border-width: 0 1px 2px 1px;
            border-radius: 3px 0 3px 3px;
			box-shadow: 0;
			background-clip: padding-box;
            display: none;
		}

		&.show {
			#tdr_search_toggle {
				background-color: $search-bg;
				color: #fff;
                display: block;
			}
		}
	}

	.no-csstransitions & {
		.tdr_search {

			#tdr_search_content {
				display: none;
			}

			&.show {
				#tdr_search_content {
					display: block;
				}
			}
		}
	}

	.lt-ie8.no-csstransitions & {
		.tdr_search.show {
			#tdr_search_content {
				top: 33px;
			}
		}
	}

	.csstransitions & {
		.tdr_search {
			#tdr_search_toggle {
				@include transition(all, .25s);
			}

			#tdr_search_content {
				display: none;
				opacity: 0;
				@include transition(background-color, .25s);
			}

			&.show {
				#tdr_search_toggle {
					background-color: $search-bg;
					color: #004b6e;
					@include transition(all, .25s);
				}

				#tdr_search_content {
					opacity: 1;
                    display: block;
					@include transition(background-color, .25s);
				}
			}
		}
	}

	.input-group {
		width: 250px;
	}
}

#tdr_search_content {

}

#tdr_side_nav { //slide out side search bar
	.tdr_search {
		padding: 7px;
		background-color: #fff;
		border-bottom: 2px solid #BDBDBD;
		height: 43px;

		.btn {
			font-size: 12px;
			padding: 4px 5px;

			.caret {
				margin-left: 4px;
			}
		}
	.form-control {
		padding: 6px;

	}



	.input-group {
		width: 54%;

		@media screen and (min-width: $mobile-small) {
			width: 60%;
		}

		@media screen and (min-width: $mobile) {
			width: 70%;
		}

		@media screen and (min-width: $tablet) {
			width: 55%;
		}
	}
}
}