/**********************************************************************
 * Basic CSS styling
 */



/* --------------------------------------------------------------------
 * table
 */
table.styled {
  margin-bottom: 1em;
}

table.styled th,table.styled td {
  padding: .25em 1em;
}

table.styled th {
  background-color: #eee;
  font-weight: bold;
}

table.styled th,table.styled td {
  border: 1px solid #ccc;
}

table.styled tbody tr.even {
  background-color: #eff;
}



/* --------------------------------------------------------------------
 * _images
 */
img.left {
  float: left;
  padding: 0 1em 1em 0;
  width: auto;
}

img.right {
  float: right;
  padding: 0 0 1em 1em;
  width: auto;
}

/* --------------------------------------------------------------------
 * * - 360px
 */
@media only screen and (max-width: 360px) {
  img.left,
  img.right {
    float: none;
    padding: 1em 0;
  }
}/**********************************************************************
 * Messages
 */

.msg {
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  border-radius: .5em;
  padding: .5em 1em;
  margin-bottom: 1em;
}

.msg h4 {
  background: transparent url(img/sprite_icon.png) 0 0 no-repeat;
  padding-left: 20px;
  text-shadow: none;
}

.msg.info {
  border: 1px solid #aaa;
  background-color: #eee;
}

.msg.info h4 {
  background-position: 0 -150px;
}

.msg.alert {
  border: 1px solid #fa0;
  background-color: #ffe;
}

.msg.alert h4 {
  background-position: 0 -249px;
  color: #D56A03;
}

.msg.confirm {
  border: 1px solid #393;
  background-color: #efe;
}

.msg.confirm h4 {
  color: #393;
  background-position: 0 -200px;
}

.msg.error {
  border: 1px solid #c00;
  background-color: #fee;
}

.msg.error h4 {
  color: #c00;
  background-position: 0 -299px;
}/**********************************************************************
 * Button
 */
.button {
  border: none;
  color: #333;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, .5) 0 1px 1px;
  margin-right: .5em;
  padding: .25em 1em;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.button:hover {
  text-decoration: none;
}

.button:active {
  position: relative;
  top: 1px;
}

.button:disabled {
  color: #999;
  cursor: default;
}

/*---------------------------------------------------------------------
 * primary button
 */
.primary {
  background: #fc0;
  background: -moz-linear-gradient(top, #fc0, #fa0);
  background: -webkit-gradient(linear, left top, left bottom, from(#fc0), to(#fa0) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc00',endColorstr='#ffaa00');
}

.primary:hover {
  background: #f90;
}

.primary:disabled {
  background: #fd0;
  background: -moz-linear-gradient(top, #fd0, #fc0);
  background: -webkit-gradient(linear, left top, left bottom, from(#fd0), to(#fc0) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd00',endColorstr='#ffcc00');
}

/*---------------------------------------------------------------------
 * secondary button
 */
.secondary {
  background: #eee;
  background: -moz-linear-gradient(top, #eee, #ddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#dddddd');
}

.secondary:hover {
  background: #ccc;
}

.secondary:disabled {
  background: #fff;
  background: -moz-linear-gradient(top, #fff, #eee);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eeeeee');
}

/*---------------------------------------------------------------------
 * link button
 */
a.button {
  color: #333;
}

/*---------------------------------------------------------------------
 * search button
 */
.search-button {
  background: transparent url(img/sprite_base.png) -431px -7px no-repeat;
  cursor: pointer;
  width: 27px;
  height: 18px;
  border: 0;
  vertical-align: middle;
  text-indent: -999em;
  white-space: nowrap;
  outline: none;
  overflow: hidden;
  font-size: 0; /* ie7 hack */
  color: transparent;
}

.search-button:hover,
.search-button:active {
  color: transparent;
}

/* retina display */
@media screen and (-webkit-min-device-pixel-ratio:2) {
  .search-button {
    background-image: url(img/sprite_base2x.png);
    background-size: 500px 120px;
  }
}

/* --------------------------------------------------------------------
 * * - 480px
 */
@media only screen and (max-width: 480px) {
  .button {
    padding: .5em 1em;
  }
}/**********************************************************************
 * Icon
 */
.icon {
  background: transparent url(img/sprite_icon.png) 0 0 no-repeat;
  padding-left: 1.5em;
}

/* ie 7 only hack */
*:first-child+html .icon {
  display: inline-block;
}

.icon.astrisk {
  background: transparent url(img/astrisk.png) 0 0 no-repeat;
}

.icon.newwin {
  background-position: 0 -50px;
}

.icon.info {
  background-position: 0 -150px;
}

.icon.confirm {
  background-position: 0 -200px;
}

.icon.alert {
  background-position: 0 -250px;
}

.icon.error {
  background-position: 0 -300px;
}

.icon.invalid {
  background-position: 0 -300px;
}

.icon.cal {
  background-position: 0 -350px;
}

.icon.check {
  background-position: 0 -400px;
}

.icon.check_disabled {
  background-position: 0 -450px;
}

.icon.close {
  background-position: 0 -500px;
}

.icon.close_disabled {
  background-position: 0 -550px;
}

.icon.disable {
  background-position: 0 -600px;
}

.icon.disable_disabled {
  background-position: 0 -650px;
}

.icon.doc {
  background-position: 0 -700px;
}

.icon.doc_disabled {
  background-position: 0 -750px;
}

.icon.gear {
  background-position: 0 -900px;
}

.icon.mail {
  background-position: 0 -950px;
}

.icon.minus {
  background-position: 0 -1000px;
}

.icon.minus_disabled {
  background-position: 0 -1050px;
}

.icon.pencil {
  background-position: 0 -1100px;
}

.icon.pencil_disabled {
  background-position: 0 -1150px;
}

.icon.plus {
  background-position: 0 -1200px;
}

.icon.plus_disabled {
  background-position: 0 -1250px;
}

.icon.print {
  background-position: 0 -1300px;
}

.icon.search {
  background-position: 0 -1400px;
}

.icon.search_disabled {
  background-position: 0 -1450px;
}

.icon.submit {
  background-position: 0 -1500px;
}

.icon.submit_disabled {
  background-position: 0 -1550px;
}

.icon.trash {
  background-position: 0 -1600px;
}

.icon.trash_disabled {
  background-position: 0 -1650px;
}

.icon.undo {
  background-position: 0 -1700px;
}

.icon.arrow_right {
  background-position: 0 -1750px;
}

.icon.arrow_down {
  background-position: 0 -1800px;
}

.icon.play {
  background-position: 0 -1850px;
}

.icon.stop {
  background-position: 0 -1900px;
}

/* Social Media Icons */


#social-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

#social-list li {
  background-repeat: no-repeat;
  height: 33px;
  margin: 0 0 10px 0;
  padding: 0 40px;
}

#social-list li.facebook {
  background-image: url(http://ucsd.edu/common/cwp/active-cherry/img/sprite_social.png);
  background-position: 0 0;
}

#social-list li.twitter {
  background-image: url(http://ucsd.edu/common/cwp/active-cherry/img/sprite_social.png);
  background-position: 0 -39px;
}

#social-list li.youtube {
  background-image: url(http://ucsd.edu/common/cwp/active-cherry/img/sprite_social.png);
  background-position: 0 -80px;
}

#social-list li.linkedin {
  background-image: url(http://ucsd.edu/common/cwp/active-cherry/img/sprite_social.png);
  background-position: 0 -121px;
}

#social-list li.googleplus {
  background-image: url(http://ucsd.edu/common/cwp/active-cherry/img/sprite_social.png);
  background-position: 0 -160px;
}

#social-list li.instagram {
  background-image: url(http://ucsd.edu/common/cwp/active-cherry/img/sprite_social.png);
  background-position: 0 -200px;
}

#social-list li.tumblr {
  background-image: url(http://ucsd.edu/common/cwp/active-cherry/img/sprite_social.png);
  background-position: 0 -240px;
}

#social-list li.flickr {
  background-image: url(http://ucsd.edu/common/cwp/active-cherry/img/sprite_social.png);
  background-position: 0 -280px;
}

#social-list li.vine {
  background-image: url(http://ucsd.edu/common/cwp/active-cherry/img/sprite_social.png);
  background-position: 0 -320px;
}

#social-list li.pinterest {
  background-image: url(http://ucsd.edu/common/cwp/active-cherry/img/sprite_social.png);
  background-position: 0 -360px;
}

#social-list li.blogger {
  background-image: url(http://ucsd.edu/common/cwp/active-cherry/img/sprite_social.png);
  background-position: 0 -400px;
}

#social-list li.rss {
  background-image: url(http://ucsd.edu/common/cwp/active-cherry/img/sprite_social.png);
  background-position: 0 -440px;
}/**********************************************************************
 * Form Elements
 */
input[type="text"],select,textarea {
  border: 1px solid #aaa;
}

input[type="text"],textarea {
  padding: .25em;
}

fieldset {
  border: 1px solid #aaa;
  padding: .5em;
  border: 0;
}

legend {
  color: #333;
  margin-left: 2em;
  padding: 0 .5em;
}

input[type=radio],input[type=checkbox] {
  margin-right: .25em;
}

/* --------------------------------------------------------------------
 * form fields and font style
 */
div.field,div.field_top,div.field_left,div.label {
  clear: both;
  padding-bottom: 1em;
}

.field_top div.label {
  padding-bottom: .25em;
}

.label,.input,.output {
  display: block;
}

.label label {
  font-weight: bold;
}

/* --------------------------------------------------------------------
 * form
 */
form {
  margin-bottom: 1em;
}

/* output */
form .output {
  font-weight: normal;
}

/* help text */
form .help {
  color: #999;
  display: block;
  font-style: italic;
  font-size: 85%;
}

/* required field */
form .help.icon.astrisk {
  padding-bottom: 1em;
}

/* multi field */
.multi {
  margin-right: .5em;
}

.input.multi {
  margin-right: 0;
  padding-bottom: .5em;
}

/* --------------------------------------------------------------------
 * form invalid field
 */
form input.invalid,form textarea.invalid {
  border: 1px solid #c00;
}

form .invalid,form .inline_invalid {
  color: #c00;
}

form .inline_invalid {
  display: block;
}

/* hide from ie */
html>body form .icon.invalid {
  margin-left: .5em;
}

/* --------------------------------------------------------------------
 * form layout - default is left aligned
 */
.field .label {
  width: 10em;
  float: left;
  text-align: right;
  padding-right: 1em;
}

.field .input,.field .output,.field select.input,.field textarea.input {
  margin-left: 11em;
}

.field .required {
  background: url(img/astrisk.png) right 0 no-repeat;
}

/* top-aligned */
.field_top .label {
  padding-left: 1em;
}

.field_top .input,.field_top .output,.field_top select.input,.field_top textarea.input
{
  margin-left: 1em;
}

.field_top .required {
  background: url(img/astrisk.png) left 0 no-repeat;
  padding-left: 1em;
}

/* left-aligned */
.field_left .label {
  width: 10em;
  float: left;
  text-align: left;
  padding-left: 1em;
}

.field_left .input,.field_left .output,.field_left select.input,.field_left textarea.input
{
  margin-left: 11.5em;
}

.field_left .required {
  background: url(img/astrisk.png) left 0 no-repeat;
  padding-left: 1em;
}

/* --------------------------------------------------------------------
 * * - 640px
 */
@media only screen and (max-width: 640px) {
  .field .label,
  .field_left .label {
    float: none;
    text-align: left;
    padding-left: 1em;
    padding-bottom: .25em;
  }
  .field .input,.field .output,.field select.input,.field textarea.input,
  .field_left .input,.field_left .output,.field_left select.input,.field_left textarea.input {
    margin-left: 1em;
  }
  .field .required,
  .field_left .required {
    background-position: left 0;
    padding-left: 1em;
  }
}

/* --------------------------------------------------------------------
 * * - 480px
 */
@media only screen and (max-width: 480px) {
  input[type="text"],textarea {
    padding: .5em .25em;
  }
}/**********************************************************************
 * loading styling
 */

div.loading {
  clear: both;
  height: 32px;
  text-indent: -9999px;
  background: url(img/icon_loading.gif) center no-repeat;
}

span.loading {
  background: url(img/icon_loading_inline.gif) right no-repeat;
  padding-right: 20px;
}