/**********************************************************************
 * CSS Styling for the title header
 */

body {
	&.collapse-nav {
		#tdr_title_page_title {
			left: 65px;
		}
	}
}

#tdr_title {
	background-color: #2b92b9;
}

#tdr_title_content {
	height: 92px;
	position: relative;

	@media only screen and (min-width: $mobile-small) {
		height: 105px;
	}

	@media only screen and (min-width: $desktop-small) {
		height: 78px;
	}

	form {
		margin-bottom: 0;
	}
}

#tdr_title_ucsd_title {
	position: absolute;
	display: block;
	overflow: hidden;
	text-indent: -999em;
	background: transparent url(img/sprite_base.png) no-repeat;
	left: 0;
	top: 10px;
	background-position: -239px -14px;
	height: 32px;
	width: 166px;

	@media only screen and (min-width: $mobile-small) {
		background-position: 0 -3px;
		width: 229px;
		height: 45px;
	}

	@media only screen and (min-width: $desktop-small) {
		top: 20px;
		left: auto;
		right: 0;
	}

	@media screen and (-webkit-min-device-pixel-ratio:2) {
		background-image: url(img/sprite_base2x.png);
		background-size: 500px 120px;
	}

}

#tdr_title_page_title {
	font-family: "Trebuchet MS", sans-serif;
	position: absolute;
	left: 53px;
	top: 55px;
	text-transform: uppercase;
	font-size: 140%;
	white-space: nowrap;

	@media only screen and (min-width: $mobile-small) {
		font-size: 140%;
		top: 65px;
		left: 65px;
	}

	@media only screen and (min-width: $desktop-small) {
		top: 30px;
		left: 0;
		font-size: 24px;
	}
}

#tdr_title_page_title,#tdr_title_page_title a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
}

#tdr_title_page_title a:hover,#tdr_title_page_title a:focus {
	text-decoration: underline;
}

/*---------------------------------------------------------------------
 * ucsd title (right hand side)
 */


/*---------------------------------------------------------------------
 * menu link (right hand side)
 */
#tdr_title_menu_link {
	display: none;
	text-indent: -999em;
	white-space: nowrap;
	outline: none;
	overflow: hidden;
	font-size: 0; /* ie7 hack */
	color: transparent;
}

#tdr_title_menu_link:hover,
#tdr_title_menu_link:active {
	color: transparent;
}


/**********************************************************************
 * responsive design
 */


@media only screen and (max-width: $desktop-small) {

	#tdr_title_search_link {
		background-position: -461px -7px;
		margin-right: 2px;
	}

	#tdr_title_menu_link {
		background: url(img/sprite_base.png) no-repeat scroll -461px -47px transparent;
		right: 0;
	}

	.noMenu #tdr_title_search_link {
		right: 0;
	}
}


@media only screen and (max-width: $mobile-small) {

	#tdr_title_search_link,#tdr_title_menu_link {
		top: 10px;
	}

}

