/* IE7 and IE8 specifics */

/********************
FLEXSLIDER
************************/

.flex-caption {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
  zoom: 1;
}

/* side nav ie 7 issues */
#tdr_side_nav {
  *display: none !important;
  *visibility:hidden !important;
  *width: 0 !important;
}

.nav-offcanvas {
  display: none !important;
  *visibility:hidden !important;
  *width: 0 !important;
}

#tdr_nav .caret {
  display: none !important;
  visibility:hidden !important;
  width: 0 !important;
}

/* search bar icon fallback */

#tdr_search_toggle {
  *background: url("https://ucsd.edu/common/cwp/4.0.0/styles/img/search_ie_icon.png") no-repeat 0px 6px !important;
  *width: 22px !important;
}
/* Just because we're nice */

/* This fixes IE 7/8 errors when the side nav incorrectly displays */
/* Will just remove the button and keep the navbar present at all times */
#tdr_title_page_title {
  left: 0 !important;
}
#tdr_nav {
  display: block !important;
}
button.navbar-toggle {
  display: none !important;
}
.breadcrumb li {
  display: inline;
  padding-right: 8px;
}

/* docs ie support fix */
pre {
  display: inline;
  white-space: pre;
}
code {
  display: inline;
  white-space: pre;
}
